Repository mongodb/mongo-go-driver, changes with the labels that .github/labeler.yml gives for each.
All labels: review-priority-normal, documentation, dependencies

.github/labeler.yml:

review-priority-normal:
- changed-files:
  - any-glob-to-any-file: '*'

documentation:
- changed-files:
  - any-glob-to-any-file:
    - docs/**
    - examples/**

dependencies:
- changed-files:
  - any-glob-to-any-file:
    - go.mod

staticcheck: fix warnings in internal/integration/unified
  internal/integration/unified/collection_data.go
  internal/integration/unified/collection_operation_execution.go
  internal/integration/unified/testrunner_operation.go
Labels: none

staticcheck: fix warnings in internal/docexamples
  internal/docexamples/examples.go
Labels: none

staticcheck: fix warnings in internal/integration/mtest
  internal/integration/mtest/mongotest.go
  internal/integration/mtest/received_message.go
  internal/integration/mtest/sent_message.go
  internal/integration/mtest/setup.go
Labels: none

staticcheck: fix warnings in mongo
  mongo/collection_test.go
  mongo/database.go
  mongo/database_test.go
Labels: none

staticcheck: fix warnings in x/mongo/driver/auth
  x/mongo/driver/auth/aws_conv.go
Labels: none

Add a CurrentRaw accessor.
  internal/integration/change_stream_test.go
  internal/integration/cursor_test.go
  mongo/change_stream.go
  mongo/cursor.go
Labels: none

staticcheck: fix warnings in x/mongo/driver/topology
  x/mongo/driver/topology/CMAP_spec_test.go
  x/mongo/driver/topology/connection.go
  x/mongo/driver/topology/server_test.go
  x/mongo/driver/topology/topology.go
Labels: none

staticcheck: fix warnings in x/mongo/driver/drivertest
  x/mongo/driver/drivertest/channel_conn.go
Labels: none

staticcheck: fix warnings in x/mongo/driver/dns
  x/mongo/driver/connstring/initial_dns_seedlist_discovery_prose_test.go
  x/mongo/driver/dns/dns.go
Labels: none

staticcheck: fix warnings in x/mongo/driver
  x/mongo/driver/operation_test.go
Labels: none

Update nested modules
  examples/_logger/logrus/go.mod
  examples/_logger/logrus/go.sum
  examples/_logger/zap/go.mod
  examples/_logger/zap/go.sum
  examples/_logger/zerolog/go.mod
  examples/_logger/zerolog/go.sum
  internal/cmd/benchmark/go.mod
  internal/cmd/benchmark/go.sum
  internal/cmd/compilecheck/go.mod
  internal/cmd/compilecheck/go.sum
  internal/cmd/faas/awslambda/mongodb/go.mod
  internal/cmd/faas/awslambda/mongodb/go.sum
Labels: documentation

Bump github.com/klauspost/compress to 1.17.6
  examples/_logger/logrus/go.mod
  examples/_logger/logrus/go.sum
  examples/_logger/zap/go.mod
  examples/_logger/zap/go.sum
  examples/_logger/zerolog/go.mod
  examples/_logger/zerolog/go.sum
  go.mod
  go.sum
  internal/cmd/benchmark/go.mod
  internal/cmd/benchmark/go.sum
  internal/cmd/compilecheck/go.mod
  internal/cmd/compilecheck/go.sum
  internal/cmd/faas/awslambda/mongodb/go.mod
  internal/cmd/faas/awslambda/mongodb/go.sum
  internal/test/compilecheck/go.mod
  internal/test/compilecheck/go.sum
  internal/test/goleak/go.mod
  internal/test/goleak/go.sum
Labels: review-priority-normal, documentation, dependencies

update prose test
  Taskfile.yml
  internal/integration/search_index_prose_test.go
  internal/integration/search_index_test.go
Labels: review-priority-normal

Fix search index failure on empty "Options"
  .evergreen/config.yml
  Taskfile.yml
  internal/integration/search_index_prose_test.go
  internal/integration/search_index_test.go
  mongo/search_index_view.go
Labels: review-priority-normal

remove uneeded var ok bool from AsInt functions
  x/bsonx/bsoncore/value.go
Labels: none

Create AsFloat64 functions
  x/bsonx/bsoncore/value.go
Labels: none

Add AsFloat functions to handle raw values
  bson/raw_value.go
Labels: none

update $$lte to use new AsFloat64 function
  internal/integration/unified/matches.go
Labels: none

update view.List() context in prose tests
  internal/integration/search_index_prose_test.go
Labels: none

Expose server error codes via mongo package
  internal/integration/clam_prose_test.go
  mongo/errors.go
  mongo/errors_test.go
  x/mongo/driver/operation.go
Labels: none

Remove uneeded check and conversion logic
  internal/integration/unified/matches.go
Labels: none

correct to a panic instead of returning 0
  x/bsonx/bsoncore/value.go
Labels: none

correct check using assertionVal instead of actual
  internal/integration/unified/matches.go
Labels: none

Added tests for AsType functions
  x/bsonx/bsoncore/value_test.go
Labels: none

correct spelling
  x/bsonx/bsoncore/value.go
Labels: none

Use cutoff in setup for tests + mongos is data bearing
  internal/integration/unified/client_entity.go
  internal/integration/unified/client_entity_test.go
Labels: none

update pre commit hook
  .pre-commit-config.yaml
Labels: review-priority-normal

Create go.mod
  internal/test/compilecheck/go.mod
  internal/test/go.mod
  internal/test/go.sum
  internal/test/goleak/go.mod
Labels: none

use poolAnyEvent when recording
  internal/integration/unified/client_entity.go
Labels: none

Consider load balancing data bearing
  internal/integration/unified/client_entity.go
Labels: none

Add support for containerized tests
  .evergreen/config.yml
  Taskfile.yml
  etc/run-containerized-tests.sh
  go.work
  internal/test/container/mongo.go
  internal/test/container/teardown.go
  internal/test/doc.go
  internal/test/go.mod
  internal/test/go.sum
  internal/test/wire_protocol_test.go
Labels: review-priority-normal

Update internal/test/container/mongo.go
  internal/test/container/mongo.go
Labels: none

Update internal/test/container/mongo.go
  internal/test/container/mongo.go
Labels: none

Update internal/test/container/mongo.go
  internal/test/container/mongo.go
Labels: none

Upgrade govulncheck Go version to 1.25.5
  etc/govulncheck.sh
Labels: none

Upgrade govulncheck Go version to 1.25.5 (#2255)
  etc/govulncheck.sh
Labels: none
