Repository mongodb/mongo-go-driver, changes with the labels that .github/labeler.yml gives for each.
All labels: review-priority-normal, documentation, dependencies

.github/labeler.yml:

review-priority-normal:
- changed-files:
  - any-glob-to-any-file: '*'

documentation:
- changed-files:
  - any-glob-to-any-file:
    - docs/**
    - examples/**

dependencies:
- changed-files:
  - any-glob-to-any-file:
    - go.mod

Rename internal/decinal128.go to decimal128.go
  internal/decimal128/decimal128.go
Labels: none

GODRIVER-3370 Add bypassEmptyTsReplacement option.
  internal/integration/client_test.go
  internal/integration/collection_test.go
  mongo/bulk_write.go
  mongo/client.go
  mongo/client_bulk_write.go
  mongo/collection.go
  x/mongo/driver/operation/find_and_modify.go
  x/mongo/driver/operation/insert.go
  x/mongo/driver/operation/update.go
  x/mongo/driver/xoptions/options.go
Labels: none

update golangci-lint installation
  etc/golangci-lint.sh
Labels: none

updates
  internal/integration/client_test.go
  internal/integration/collection_test.go
  mongo/client.go
  mongo/collection.go
  mongo/database.go
  mongo/index_view.go
  x/mongo/driver/topology/topology_options.go
Labels: none

GODRIVER-3523 Drop support for MongoDB 4.0.
  .evergreen/config.yml
  README.md
  internal/docexamples/examples_test.go
  internal/driverutil/description.go
  internal/integration/change_stream_test.go
  internal/integration/primary_stepdown_test.go
  internal/integration/sdam_error_handling_test.go
  mongo/options/changestreamoptions.go
  mongo/options/listcollectionsoptions.go
  x/mongo/driver/integration/scram_test.go
  x/mongo/driver/topology/fsm.go
  x/mongo/driver/topology/topology_test.go
Labels: review-priority-normal

Skip pre-4.2 SDAM spec tests.
  internal/spectest/skip.go
  x/mongo/driver/topology/sdam_spec_test.go
Labels: none

Remove "latest" build variants
  .evergreen/config.yml
Labels: none

update golangci-lint installation
  etc/golangci-lint.sh
Labels: none

GODRIVER-3675 Rename `internal/decimal/decinal128.go` to `decimal128.go` (#2220)
  internal/decimal128/decimal128.go
Labels: none

Use BSON document literals to define the expected metadata documents.
  internal/integration/client_test.go
  internal/integration/handshake_test.go
  internal/test/client_metadata.go
Labels: none

Use statically-defined expected metadata documents for all tests.
  internal/integration/handshake_test.go
Labels: none

Fix TestAuthenticateToAnything and reduce calls to atomic.Pointer.Load
  x/mongo/driver/topology/topology_options.go
  x/mongo/driver/topology/topology_options_test.go
Labels: none

Move assert.EqualBSON to the assertbson package and use it instead of assertbsoncore.
  internal/assert/assertbson/assertbson.go
  internal/assert/assertbson/assertbson_test.go
  internal/assert/assertbsoncore/assertions_bsoncore.go
  internal/assert/assertion_mongo.go
  internal/assert/assertion_mongo_test.go
  internal/handshake/handshake.go
  internal/integration/client_test.go
  internal/integration/handshake_test.go
  mongo/mongo_test.go
Labels: none

GODRIVER-3523 Drop support for MongoDB 4.0. (#2221)
  .evergreen/config.yml
  README.md
  internal/docexamples/examples_test.go
  internal/driverutil/description.go
  internal/integration/change_stream_test.go
  internal/integration/primary_stepdown_test.go
  internal/integration/sdam_error_handling_test.go
  internal/spectest/skip.go
  mongo/options/changestreamoptions.go
  mongo/options/listcollectionsoptions.go
  x/mongo/driver/integration/scram_test.go
  x/mongo/driver/topology/fsm.go
  x/mongo/driver/topology/sdam_spec_test.go
  x/mongo/driver/topology/topology_test.go
Labels: review-priority-normal

GODRIVER-3668 Add bypassEmptyTsReplacement option. (#2219)
  internal/integration/client_test.go
  internal/integration/collection_test.go
  mongo/bulk_write.go
  mongo/client.go
  mongo/client_bulk_write.go
  mongo/collection.go
  mongo/database.go
  mongo/index_view.go
  x/mongo/driver/operation/find_and_modify.go
  x/mongo/driver/operation/insert.go
  x/mongo/driver/operation/update.go
  x/mongo/driver/topology/topology_options.go
  x/mongo/driver/xoptions/options.go
Labels: none

Fix appending client metadata for authenticated handshakes.
  x/mongo/driver/topology/topology_options.go
Labels: none

Fix app name test.
  internal/integration/client_test.go
Labels: none

Fix LB handshake test and PR feedback.
  internal/integration/handshake_test.go
Labels: none

Remove the unused and dangerous ShareClient mtest option.
  internal/integration/mtest/mongotest.go
  internal/integration/mtest/options.go
Labels: none

Fix AppendDriverInfo comment.
  mongo/client.go
Labels: none

Fix non-LB handshake test.
  internal/integration/handshake_test.go
Labels: none

Update internal/assert/assertbson/assertbson_test.go
  internal/assert/assertbson/assertbson_test.go
Labels: none

Add test cases for assertbson.EqualValue
  internal/assert/assertbson/assertbson_test.go
Labels: none

GODRIVER-3544, GODRIVER-3653 Allow Client to Send Client Metadata On-Demand (#2197)
  internal/assert/assertbson/assertbson.go
  internal/assert/assertbson/assertbson_test.go
  internal/assert/assertion_mongo.go
  internal/assert/assertion_mongo_test.go
  internal/integration/client_test.go
  internal/integration/handshake_test.go
  internal/integration/mtest/mongotest.go
  internal/integration/mtest/proxy_capture.go
  internal/integration/mtest/proxy_dialer.go
  internal/integration/sdam_prose_test.go
  internal/integration/unified/client_operation_execution.go
  internal/integration/unified/operation.go
  internal/integration/unified/unified_spec_test.go
  mongo/client.go
  mongo/mongo_test.go
  x/mongo/driver/topology/server.go
  x/mongo/driver/topology/server_options.go
  x/mongo/driver/topology/topology_options.go
  x/mongo/driver/topology/topology_options_test.go
Labels: none

Remove the unused and dangerous ShareClient mtest option. (#2225)
  internal/integration/mtest/mongotest.go
  internal/integration/mtest/options.go
Labels: none

Don't test v1 branches against latest server.
  .evergreen/config.yml
Labels: none

GODRIVER-3654 Don't test v1 branches against latest server. (#2188)
  .evergreen/config.yml
Labels: none

support custom AWS credential provider
  internal/aws/credentials/chain_provider.go
  internal/aws/credentials/chain_provider_test.go
  internal/aws/credentials/credentials.go
  internal/aws/credentials/credentials_test.go
  internal/credproviders/assume_role_provider.go
  internal/credproviders/aws_provider.go
  internal/credproviders/ec2_provider.go
  internal/credproviders/ecs_provider.go
  internal/credproviders/env_provider.go
  internal/credproviders/imds_provider.go
  internal/credproviders/static_provider.go
  internal/integration/client_side_encryption_prose_test.go
  internal/test/aws/aws_test.go
  mongo/client.go
  mongo/client_encryption.go
  mongo/options/autoencryptionoptions.go
  mongo/options/clientencryptionoptions.go
  mongo/options/clientoptions.go
  x/mongo/driver/auth/mongodbaws.go
  x/mongo/driver/driver.go
  x/mongo/driver/mongocrypt/mongocrypt.go
  x/mongo/driver/mongocrypt/options/mongocrypt_options.go
  x/mongo/driver/topology/topology_options.go
Labels: none

update test case
  internal/integration/client_side_encryption_prose_test.go
Labels: none

Add more visible deprecation banner to the 1.17 readme
  README.md
Labels: review-priority-normal

Apply wording suggestion
  README.md
Labels: review-priority-normal

Add more visible deprecation banner to the 1.17 readme (#2233)
  README.md
Labels: review-priority-normal

update skip list
  internal/spectest/skip.go
Labels: none

GODRIVER-3659 Filter CMAP/SDAM events for awaitMinPoolSizeMS
  internal/integration/unified/client_entity.go
  internal/integration/unified/client_entity_test.go
  internal/integration/unified/entity.go
  internal/integration/unified/event.go
  internal/integration/unified/event_verification.go
Labels: none

Remove shouldFilter
  internal/integration/unified/client_entity.go
  internal/integration/unified/client_entity_test.go
Labels: none

Bump govulncheck to 1.25.3
  etc/govulncheck.sh
Labels: none

Update example modules to go 1.25
  examples/_logger/logrus/go.mod
  examples/_logger/zap/go.mod
  examples/_logger/zerolog/go.mod
Labels: documentation

GODRIVER-3592 Complete Go 1.25 CI update
  README.md
  docs/CONTRIBUTING.md
  go.work
Labels: review-priority-normal, documentation

GODRIVER-3592 Update remaining Go 1.23 references to 1.25
  docs/CONTRIBUTING.md
  etc/golangci-lint.sh
  internal/cmd/faas/awslambda/mongodb/go.mod
  internal/test/compilecheck/go.mod
Labels: documentation

Add DefaultDocumentMap as Decoder Method
  bson/decoder.go
  bson/decoder_example_test.go
  bson/decoder_test.go
  docs/migration-2.0.md
  mongo/cursor.go
  mongo/options/clientoptions.go
Labels: documentation
