Repository mongodb/mongo-go-driver, changes with the labels that .github/labeler.yml gives for each.
All labels: review-priority-normal, documentation, dependencies

GODRIVER-3592 Update example modules to go1.25 (#2237)
  README.md
  docs/CONTRIBUTING.md
  etc/golangci-lint.sh
  examples/_logger/logrus/go.mod
  examples/_logger/zap/go.mod
  examples/_logger/zerolog/go.mod
  go.work
  internal/cmd/faas/awslambda/mongodb/go.mod
  internal/test/compilecheck/go.mod
Labels: review-priority-normal, documentation

GODRIVER-3692 Bump govulncheck to 1.25.3 (#2236)
  etc/govulncheck.sh
Labels: none

update unified integration
  internal/integration/unified/client_entity.go
  internal/integration/unified/entity.go
Labels: none

update unified integration
  internal/integration/mtest/mongotest.go
  internal/integration/unified/client_entity.go
  internal/integration/unified/entity.go
  internal/spectest/skip.go
Labels: none

updates
  internal/integration/unified/client_entity.go
  internal/integration/unified/operation.go
Labels: none

updates
  internal/integration/unified/client_entity.go
  internal/integration/unified/collection_data.go
Labels: none

skip failed test
  internal/spectest/skip.go
Labels: none

GODRIVER-3690 Extend CommandFailedEvent with error codes
  event/monitoring.go
  internal/integration/clam_prose_test.go
  mongo/errors.go
  x/mongo/driver/errors.go
  x/mongo/driver/operation.go
Labels: none

Use inline sruct literal over bson.D
  internal/integration/clam_prose_test.go
Labels: none

GODRIVER-3692 Bump govulncheck to 1.25.3 (#2236)
  etc/govulncheck.sh
Labels: none

GODRIVER-3696: Add CI/CD label to label checker
  .github/workflows/check-labels.yml
Labels: none

GODRIVER-3696: Add CI/CD label to label checker (#2243)
  .github/workflows/check-labels.yml
Labels: none

Bump github.com/klauspost/compress to 1.17.6
  examples/_logger/logrus/go.mod
  examples/_logger/logrus/go.sum
  examples/_logger/zap/go.mod
  examples/_logger/zap/go.sum
  examples/_logger/zerolog/go.mod
  examples/_logger/zerolog/go.sum
  go.mod
  go.sum
  internal/cmd/benchmark/go.mod
  internal/cmd/benchmark/go.sum
  internal/cmd/compilecheck/go.mod
  internal/cmd/compilecheck/go.sum
  internal/cmd/compilecheck/go.work
  internal/cmd/faas/awslambda/mongodb/go.mod
  internal/cmd/faas/awslambda/mongodb/go.sum
  internal/test/compilecheck/go.mod
  internal/test/compilecheck/go.sum
  internal/test/goleak/go.mod
  internal/test/goleak/go.sum
Labels: review-priority-normal, documentation, dependencies

Migrate golangci-lint to V2
  .golangci.yml
  etc/golangci-lint.sh
Labels: review-priority-normal

(gosec) Create mathutil package
  internal/mathutil/mathutil.go
  internal/mathutil/mathutil_test.go
Labels: none

(gosec) Create binaryutil package
  internal/binaryutil/binaryutil.go
  internal/binaryutil/binaryutil_test.go
  internal/binaryutil/doc.go
Labels: none

(gosec) Apply G115 fixes to bson package
  bson/buffered_byte_src.go
  bson/decimal.go
  bson/default_value_encoders.go
  bson/mgoregistry.go
  bson/objectid.go
  bson/uint_codec.go
  bson/value_reader.go
  bson/value_writer.go
Labels: none

(gosec) Apply G115 fixes to mongo package
  mongo/change_stream.go
  mongo/client_bulk_write.go
  mongo/client_encryption_test.go
  mongo/collection.go
  mongo/errors.go
  mongo/gridfs_download_stream.go
  mongo/gridfs_upload_stream.go
  mongo/mongo.go
  mongo/read_write_concern_spec_test.go
Labels: none

(gosec) Apply G115 fixes to x/bsonx/bsoncore package
  x/bsonx/bsoncore/array.go
  x/bsonx/bsoncore/bsoncore.go
  x/bsonx/bsoncore/document.go
  x/bsonx/bsoncore/value.go
Labels: none

(gosec) Apply G115 fixes to x/mongo/driver package
  x/mongo/driver/batch_cursor.go
  x/mongo/driver/batches.go
  x/mongo/driver/compression.go
  x/mongo/driver/operation.go
Labels: none

(gosec) Apply G115 fixes to x/mongo/driver/auth package
  x/mongo/driver/auth/gssapi.go
  x/mongo/driver/auth/gssapi_not_enabled.go
  x/mongo/driver/auth/gssapi_not_supported.go
  x/mongo/driver/auth/gssapi_test.go
  x/mongo/driver/auth/sasl.go
Labels: none

(gosec) Apply G115 fixes to x/mongo/driver/wiremessage package
  x/mongo/driver/wiremessage/wiremessage.go
  x/mongo/driver/wiremessage/wiremessage_test.go
Labels: none

(gosec) Apply G115 fixes to x/mongo/driver/mongocrypt package
  x/mongo/driver/mongocrypt/binary.go
  x/mongo/driver/mongocrypt/binary_test.go
  x/mongo/driver/mongocrypt/errors.go
  x/mongo/driver/mongocrypt/errors_not_enabled.go
  x/mongo/driver/mongocrypt/mongocrypt.go
  x/mongo/driver/mongocrypt/mongocrypt_context.go
  x/mongo/driver/mongocrypt/mongocrypt_context_not_enabled.go
  x/mongo/driver/mongocrypt/mongocrypt_kms_context.go
  x/mongo/driver/mongocrypt/mongocrypt_kms_context_not_enabled.go
  x/mongo/driver/mongocrypt/mongocrypt_not_enabled.go
  x/mongo/driver/mongocrypt/mongocrypt_test.go
Labels: none

(gosec) Apply G115 fixes to x/mongo/driver/session package
  x/mongo/driver/session/client_session.go
Labels: none

(gosec) Apply G115 fixes to x/mongo/driver/operation package
  x/mongo/driver/operation/hello.go
Labels: none

(gosec) Apply G115 fixes to x/mongo/driver/topology package
  x/mongo/driver/topology/CMAP_spec_test.go
  x/mongo/driver/topology/connection.go
  x/mongo/driver/topology/connection_errors_test.go
  x/mongo/driver/topology/errors.go
  x/mongo/driver/topology/fsm.go
  x/mongo/driver/topology/pool.go
  x/mongo/driver/topology/server_test.go
  x/mongo/driver/topology/tls_connection_source_1_16.go
  x/mongo/driver/topology/tls_connection_source_1_17.go
  x/mongo/driver/topology/topology.go
  x/mongo/driver/topology/topology_errors_test.go
Labels: none

(gosec) Apply G115 fixes to internal/integration/unified package
  internal/integration/unified/client_entity.go
  internal/integration/unified/collection_operation_execution.go
  internal/integration/unified/entity.go
  internal/integration/unified/error.go
  internal/integration/unified/event_verification.go
  internal/integration/unified/testrunner_operation.go
Labels: none

(gosec) Apply G115 fixes to remaining internal packages
  internal/credproviders/static_provider.go
  internal/errutil/join_go1.19.go
  internal/errutil/join_go1.20.go
  internal/integration/client_side_encryption_prose_test.go
  internal/integration/client_side_encryption_spec_test.go
  internal/integration/client_side_encryption_test.go
  internal/integration/csot_cse_prose_test.go
  internal/integration/cursor_test.go
  internal/integration/errors_test.go
  internal/integration/mtest/csfle_enabled.go
  internal/integration/mtest/csfle_not_enabled.go
  internal/integration/mtest/mongotest.go
  internal/integration/mtest/proxy_dialer.go
  internal/integration/sdam_error_handling_test.go
  internal/integration/unified_spec_test.go
  internal/israce/norace.go
  internal/israce/race.go
  x/mongo/driver/connstring/connstring_spec_test.go
  x/mongo/driver/drivertest/channel_conn.go
  x/mongo/driver/drivertest/opmsg_deployment.go
  x/mongo/driver/integration/main_test.go
  x/mongo/driver/ocsp/ocsp_test.go
Labels: none

(gosec) Apply G115 fixes to internal/driverutil package
  internal/driverutil/description.go
Labels: none

(gosec) Apply G115 fixes to internal/logger package
  internal/logger/logger.go
Labels: none

(gosec) Apply G115 fixes to internal/decimal128 package
  internal/decimal128/decimal128.go
Labels: none

Use slices.Clone + in-test cutoffs + consolidate counters + multi-server support
  internal/integration/unified/client_entity.go
  internal/integration/unified/client_entity_test.go
Labels: none

fix: replace golang/snappy with klauspost/compress/snappy
  THIRD-PARTY-NOTICES
  examples/_logger/logrus/go.mod
  examples/_logger/logrus/go.sum
  examples/_logger/zap/go.mod
  examples/_logger/zap/go.sum
  examples/_logger/zerolog/go.mod
  examples/_logger/zerolog/go.sum
  go.mod
  go.sum
  internal/cmd/benchmark/go.mod
  internal/cmd/benchmark/go.sum
  internal/cmd/compilecheck/go.mod
  internal/cmd/compilecheck/go.sum
  internal/cmd/faas/awslambda/mongodb/go.mod
  internal/cmd/faas/awslambda/mongodb/go.sum
  internal/test/goleak/go.mod
  internal/test/goleak/go.sum
  x/mongo/driver/compression.go
  x/mongo/driver/compression_test.go
  x/mongo/driver/testdata/compression.go
Labels: review-priority-normal, documentation, dependencies

GODRIVER-3692 Bump govulncheck to 1.25.3 (#2236) (#2242)
  etc/govulncheck.sh
Labels: none

Run golangci-lint CLI migration
  .golangci.yml
  etc/golangci-lint.sh
Labels: review-priority-normal

revive: fix unexported-return in bsoncore
  x/bsonx/bsoncore/bsoncore.go
  x/bsonx/bsoncore/value.go
Labels: none

errcheck: fix issues in topology package
  x/mongo/driver/topology/connection.go
  x/mongo/driver/topology/connection_errors_test.go
  x/mongo/driver/topology/pool_test.go
Labels: none

revive: fix warnings in topology
  x/mongo/driver/topology/CMAP_spec_test.go
  x/mongo/driver/topology/diff.go
Labels: none

staticcheck: fix warnings in bson
  bson/map_codec.go
Labels: none

staticcheck: fix warnings in internal/integration
  internal/integration/causal_consistency_test.go
  internal/integration/client_test.go
Labels: none

.github/labeler.yml:

review-priority-normal:
- changed-files:
  - any-glob-to-any-file: '*'

documentation:
- changed-files:
  - any-glob-to-any-file:
    - docs/**
    - examples/**

dependencies:
- changed-files:
  - any-glob-to-any-file:
    - go.mod
