Repository mongodb/mongo-go-driver, pull requests merged in 2024-10, with the labels that each got.

#1819 GODRIVER-3339 Separate `Many` and `One` for `UpdateOptions` and `DeleteOptions`.
  docs/migration-2.0.md
  internal/integration/collection_test.go
  internal/integration/crud_helpers_test.go
  internal/integration/crud_prose_test.go
  internal/integration/unified/collection_operation_execution.go
  internal/integration/unified/crud_helpers.go
  mongo/bulk_write.go
  mongo/collection.go
  mongo/crud_examples_test.go
  mongo/options/deleteoptions.go
  mongo/options/updateoptions.go
Labels: priority-2-medium

#1815 GODRIVER-3156 Detect and discard closed idle connections.
  x/mongo/driver/topology/connection.go
  x/mongo/driver/topology/connection_test.go
  x/mongo/driver/topology/pool.go
  x/mongo/driver/topology/pool_test.go
  x/mongo/driver/topology/server_test.go
  x/mongo/driver/topology/topology_errors_test.go
  x/mongo/driver/topology/topology_test.go
Labels: priority-1-high

#1846 GODRIVER-3268 Document asynchronicity of creating search indexes
  mongo/search_index_view.go
Labels: priority-3-low

#1828 GODRIVER-1778 Reject HeartbeatFrequencyMS of less than 500ms
  internal/integration/client_test.go
  internal/integration/unified/unified_spec_runner.go
  internal/integration/unified_spec_test.go
  mongo/options/clientoptions.go
  mongo/options/clientoptions_test.go
  x/mongo/driver/topology/polling_srv_records_test.go
Labels: priority-3-low

#1843 GODRIVER-3338 Remove usage of PREPARE_SHELL in Evergreen Config
  .evergreen/config.yml
  .evergreen/run-deployed-lambda-aws-tests.sh
  .evergreen/run-task.sh
  .evergreen/run-tests.sh
  .evergreen/setup-system.sh
  .gitignore
  .pre-commit-config.yaml
  Taskfile.yml
  docs/CONTRIBUTING.md
  etc/check_license.sh
  etc/check_modules.sh
  etc/compile_check.sh
  etc/docker_entry.sh
  etc/golangci-lint.sh
  etc/prep-perf.sh
  etc/run-atlas-test.sh
  etc/run-awskms-test.sh
  etc/run-enterprise-gssapi-test.sh
  etc/run-enterprise-plain-test.sh
  etc/run-fuzz.sh
  etc/run-mongodb-aws-ecs-test.sh
  etc/run-mongodb-aws-test.sh
  etc/run-serverless-test.sh
  etc/setup-test.sh
Labels: priority-3-low, documentation

#1844 GODRIVER-3366 Ensure snappy tests are run in CI
  .evergreen/config.yml
Labels: priority-3-low

#1850 Bump lint go version to 1.22.8
  etc/golangci-lint.sh
Labels: priority-3-low

#1829 GODRIVER-2898 Standardized performance testing
  .evergreen/config.yml
  .gitignore
  Taskfile.yml
  etc/prep-perf.sh
  internal/cmd/benchmark/benchmark_test.go
  internal/cmd/benchmark/bson.go
  internal/cmd/benchmark/bson_document.go
  internal/cmd/benchmark/bson_map.go
  internal/cmd/benchmark/bson_struct.go
  internal/cmd/benchmark/bson_test.go
  internal/cmd/benchmark/bson_types.go
  internal/cmd/benchmark/go.mod
  internal/cmd/benchmark/go.sum
  internal/cmd/benchmark/harness.go
  internal/cmd/benchmark/harness_case.go
  internal/cmd/benchmark/harness_main.go
  internal/cmd/benchmark/harness_results.go
  internal/cmd/benchmark/main.go
  internal/cmd/benchmark/multi.go
  internal/cmd/benchmark/multi_test.go
  internal/cmd/benchmark/operation_test.go
  internal/cmd/benchmark/single.go
  internal/cmd/benchmark/single_test.go
Labels: dependencies, priority-3-low

#1842 GODRIVER-3363 Detect and discard closed idle connections. (#1815) [master]
  x/mongo/driver/topology/connection.go
  x/mongo/driver/topology/connection_test.go
  x/mongo/driver/topology/pool.go
  x/mongo/driver/topology/pool_test.go
  x/mongo/driver/topology/server_test.go
  x/mongo/driver/topology/topology_errors_test.go
  x/mongo/driver/topology/topology_test.go
Labels: priority-2-medium

#1845 GODRIVER-3095 Add moving STD to RTT Stats
  x/mongo/driver/topology/rtt_monitor.go
  x/mongo/driver/topology/rtt_monitor_test.go
  x/mongo/driver/topology/stats.go
  x/mongo/driver/topology/stats_test.go
Labels: priority-3-low

#1847 GODRIVER-3367 Use subprocess.exec for Evergreen functions
  .evergreen/config.yml
  .evergreen/setup-system.sh
  Taskfile.yml
  etc/docker_entry.sh
  etc/golangci-lint.sh
  etc/pr-task.sh
  etc/run-mongodb-aws-test.sh
  etc/setup-test.sh
Labels: priority-3-low

#1831 GODRIVER-3241 Move mock OPMSG deployment to the experimental package
  internal/driverutil/description.go
  internal/integration/collection_test.go
  internal/integration/mtest/mongotest.go
  x/mongo/driver/drivertest/opmsg_deployment.go
  x/mongo/driver/drivertest/opmsg_deployment_test.go
  x/mongo/driver/topology/fsm.go
Labels: priority-3-low

#1855 Update reviewers.txt
  .github/reviewers.txt
Labels: priority-3-low

#1849 GODRIVER-3327 Move option docs from struct fields to setter methods
  mongo/options/aggregateoptions.go
  mongo/options/autoencryptionoptions.go
  mongo/options/bulkwriteoptions.go
  mongo/options/changestreamoptions.go
  mongo/options/clientencryptionoptions.go
  mongo/options/collectionoptions.go
  mongo/options/countoptions.go
  mongo/options/createcollectionoptions.go
  mongo/options/datakeyoptions.go
  mongo/options/dboptions.go
  mongo/options/deleteoptions.go
  mongo/options/distinctoptions.go
  mongo/options/dropcollectionoptions.go
  mongo/options/encryptoptions.go
  mongo/options/estimatedcountoptions.go
  mongo/options/findoptions.go
  mongo/options/gridfsoptions.go
  mongo/options/indexoptions.go
  mongo/options/insertoptions.go
  mongo/options/listcollectionsoptions.go
  mongo/options/listdatabasesoptions.go
  mongo/options/loggeroptions.go
  mongo/options/replaceoptions.go
  mongo/options/rewrapdatakeyoptions.go
  mongo/options/runcmdoptions.go
  mongo/options/serverapioptions.go
  mongo/options/sessionoptions.go
  mongo/options/transactionoptions.go
  mongo/options/updateoptions.go
Labels: priority-3-low

#1860 Fix data race in 'discard connections' pool test.
  Taskfile.yml
  x/mongo/driver/topology/pool_test.go
Labels: priority-3-low

#1862 Enable benchmarks on Github PR builds.
  .evergreen/config.yml
Labels: priority-3-low

#1864 Remove the poplar dependency from the benchmark module.
  internal/cmd/benchmark/benchmark_test.go
  internal/cmd/benchmark/go.mod
  internal/cmd/benchmark/go.sum
Labels: dependencies, priority-3-low

#1856 GODRIVER-3367 Use subprocess.exec for remaining Evergreen functions
  .evergreen/config.yml
  .evergreen/setup-system.sh
  Taskfile.yml
  etc/run-azurekms-test.sh
  etc/run-gcpkms-test.sh
  etc/run-mongodb-aws-test.sh
  etc/run-oidc-remote-test.sh
  etc/run_docker.sh
  etc/setup-test.sh
Labels: priority-3-low

#1858 GODRIVER-3356 Increase TestClientStress recovery period to 10s.
  internal/integration/client_test.go
Labels: priority-3-low

#1870 GODRIVER-3374 Add ReadCompressedCompressedMessage back to wiremessage API
  x/mongo/driver/wiremessage/wiremessage.go
Labels: priority-3-low

#1871 Use a local Go 1.18 installation to check for minimum version support.
  .evergreen/config.yml
  Taskfile.yml
  etc/compile_check.sh
Labels: priority-2-medium

#1861 Break up connection pool subtests into separate test funcs.
  x/mongo/driver/topology/pool_test.go
Labels: priority-3-low

#1876 GODRIVER-3340 Bump github.com/klauspost/compress from 1.13.6 to 1.16.7
  examples/_logger/logrus/go.mod
  examples/_logger/logrus/go.sum
  examples/_logger/zap/go.mod
  examples/_logger/zap/go.sum
  examples/_logger/zerolog/go.mod
  examples/_logger/zerolog/go.sum
  go.mod
  go.sum
  internal/cmd/benchmark/go.mod
  internal/cmd/benchmark/go.sum
  internal/cmd/compilecheck/go.mod
  internal/cmd/compilecheck/go.sum
  internal/cmd/faas/awslambda/mongodb/go.mod
  internal/cmd/faas/awslambda/mongodb/go.sum
Labels: dependencies, priority-3-low, documentation

#1875 Bump golangci-lint for 1.23 compatibility [v1]
  .pre-commit-config.yaml
  Makefile
  mongo/client.go
  mongo/integration/unified/event_verification.go
Labels: priority-1-high

#1877 Fix data race in 'discard connections' pool test. [v1]
  Makefile
  x/mongo/driver/topology/pool_test.go
Labels: priority-3-low

#1883 Update reviewers.txt (#1855) [v1]
  .github/reviewers.txt
Labels: priority-3-low
