Repository mongodb/mongo-go-driver, pull requests merged in 2024-07, with the labels that each got.

#1689 GODRIVER-3248 [master] Update windows CI build
  .evergreen/config.yml
Labels: priority-3-low

#1696 Remove 8.0 from windows waterfall build
  .evergreen/config.yml
Labels: priority-3-low

#1697 Remove 8.0 from windows waterfall build (#1696) [master] Remove 8.0 from windows waterfall build (#1696)
  .evergreen/config.yml
Labels: priority-3-low

#1693 GODRIVER-3261 Add release workflow
  .github/workflows/codeql.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
Labels: priority-3-low

#1669 GODRIVER-2722 Remove/unexport unnecessary interfaces.
  bson/bsoncodec.go
  bson/copier.go
  bson/default_value_encoders.go
  bson/default_value_encoders_test.go
  bson/proxy.go
  bson/reader.go
  bson/struct_codec.go
  bson/struct_codec_test.go
  bson/types.go
  bson/value_reader.go
  bson/value_reader_test.go
  bson/value_writer.go
  bson/value_writer_test.go
  bson/writer.go
Labels: priority-3-low

#1682 GODRIVER-2819 Decode document into bson.D if there is no type info.
  bson/bsoncodec.go
  bson/decoder.go
  bson/decoder_test.go
  bson/default_value_decoders.go
  bson/default_value_decoders_test.go
  bson/empty_interface_codec.go
  bson/map_codec.go
  bson/mgocompat/bson_test.go
  bson/slice_codec.go
  bson/struct_codec.go
  mongo/client_encryption.go
  mongo/cursor.go
  mongo/options/clientoptions.go
Labels: priority-2-medium

#1658 GODRIVER-3220 Change IndexView.DropOne to not return bson.Raw
  internal/integration/client_side_encryption_test.go
  internal/integration/crud_helpers_test.go
  internal/integration/index_view_test.go
  internal/integration/unified/collection_operation_execution.go
  internal/integration/unified_spec_test.go
  mongo/index_view.go
Labels: priority-3-low

#1683 GODRIVER-2701 Implement a variant of DropIndex that gets keys rather than name
  mongo/index_view.go
  mongo/integration/index_view_test.go
  x/mongo/driver/operation/drop_indexes.go
Labels: priority-3-low

#1698 GODRIVER-2976 Remove deprecated BSON code.
  bson/bson_test.go
  bson/cond_addr_codec.go
  bson/cond_addr_codec_test.go
  bson/copier.go
  bson/copier_test.go
  bson/decoder_test.go
  bson/default_value_decoders.go
  bson/default_value_decoders_test.go
  bson/default_value_encoders.go
  bson/default_value_encoders_test.go
  bson/encoder_test.go
  bson/extjson_reader.go
  bson/extjson_writer.go
  bson/marshal.go
  bson/mgocompat/bson_test.go
  bson/mgoregistry.go
  bson/objectid.go
  bson/objectid_test.go
  bson/pointer_codec.go
  bson/primitive.go
  bson/primitive_codecs.go
  bson/primitive_codecs_test.go
  bson/raw_value_test.go
  bson/reader.go
  bson/registry.go
  bson/registry_examples_test.go
  bson/registry_test.go
  bson/struct_codec.go
  bson/struct_tag_parser.go
  bson/truncation_test.go
  bson/unmarshal.go
  bson/unmarshal_test.go
  bson/unmarshal_value_test.go
  bson/value_reader.go
  bson/value_writer.go
  bson/writer.go
  internal/integration/crud_helpers_test.go
  internal/integration/crud_spec_test.go
  internal/integration/database_test.go
  internal/integration/initial_dns_seedlist_discovery_test.go
  internal/integration/retryable_writes_spec_test.go
  internal/integration/unified/client_entity.go
  internal/integration/unified_runner_thread_helpers_test.go
  internal/integration/unified_spec_test.go
  mongo/change_stream.go
  mongo/collection.go
  mongo/gridfs_bucket.go
  mongo/mongo.go
  mongo/read_write_concern_spec_test.go
  mongo/util.go
Labels: priority-1-high

#1700 GODRIVER-3252 Update `Database.ListCollectionSpecifications` and `IndexView.ListSpecifications` to return slice of values.
  internal/integration/database_test.go
  internal/integration/index_view_test.go
  mongo/database.go
  mongo/index_view.go
  mongo/results.go
Labels: priority-3-low

#1702 GODRIVER-3096 Fixed perfomance CI break by running benchmark pkg not main
  Makefile
  go.work
  internal/cmd/benchmark/go.mod
  internal/cmd/benchmark/go.sum
Labels: dependencies, priority-3-low

#1704 GODRIVER-3266 Add TODO comment to investigate CSOT test failure
  internal/integration/csot_prose_test.go
Labels: priority-3-low

#1701 GODRIVER-3256 [master] Bump maxWireVersion for MongoDB 8.0
  x/mongo/driver/topology/fsm.go
Labels: priority-3-low

#1703 GODRIVER-2728: Implement automatic Azure token acquisition callback
  .evergreen/config.yml
  cmd/testoidcauth/main.go
  etc/run-oidc-test.sh
  x/mongo/driver/auth/oidc.go
Labels: priority-3-low

#1661 GODRIVER-2821 De-propagate unacknowledged sentinel error
  internal/integration/collection_test.go
  internal/integration/index_view_test.go
  internal/integration/mtest/mongotest.go
  internal/integration/sessions_test.go
  mongo/bulk_write.go
  mongo/collection.go
  mongo/database.go
  mongo/errors.go
  mongo/index_view.go
  mongo/results.go
  mongo/single_result.go
Labels: priority-1-high

#1711 GODRIVER-2821 Remove result check from Drop
  internal/integration/collection_test.go
Labels: priority-3-low

#1708 GODRIVER-2806: Implement automatic GCP token acquisition
  .evergreen/config.yml
  cmd/testoidcauth/main.go
  x/mongo/driver/auth/oidc.go
Labels: priority-3-low

#1710 GODRIVER-3272 Remove Serverless Proxy Incremental Rollout Tests
  .evergreen/config.yml
  etc/run-serverless-test.sh
  mongo/integration/unified/unified_spec_runner.go
Labels: priority-3-low

#1714 GODRIVER-3272 [master] Remove Serverless Proxy Incremental Rollout Tests
  .evergreen/config.yml
  etc/run-serverless-test.sh
  internal/integration/unified/unified_spec_runner.go
Labels: priority-3-low

#1705 GODRIVER-2499 Use a nested struct for default transaction options
  internal/docexamples/examples.go
  internal/integration/json_helpers_test.go
  internal/integration/unified/session_options.go
  mongo/client.go
  mongo/crud_examples_test.go
  mongo/options/sessionoptions.go
Labels: priority-3-low

#1694 GODRIVER-2796 Update `ObjectIDAsHexString` behavior.
  bson/bsoncodec.go
  bson/decoder.go
  bson/decoder_test.go
  bson/default_value_decoders.go
  bson/default_value_decoders_test.go
  bson/default_value_encoders.go
  bson/default_value_encoders_test.go
  bson/encoder.go
  bson/mgoregistry.go
  bson/string_codec.go
  bson/string_codec_test.go
  bson/struct_codec.go
  bson/truncation_test.go
  bson/uint_codec.go
Labels: priority-2-medium

#1717 Upgrade internal/cmd to v2
  internal/cmd/benchmark/bson.go
  internal/cmd/benchmark/bson_document.go
  internal/cmd/benchmark/bson_map.go
  internal/cmd/benchmark/bson_struct.go
  internal/cmd/benchmark/bson_types.go
  internal/cmd/benchmark/go.mod
  internal/cmd/benchmark/multi.go
  internal/cmd/benchmark/operation_test.go
  internal/cmd/benchmark/single.go
  internal/cmd/compilecheck/go.mod
  internal/cmd/compilecheck/main.go
  internal/cmd/faas/awslambda/mongodb/bootstrap.go
  internal/cmd/faas/awslambda/mongodb/go.mod
  internal/cmd/faas/awslambda/mongodb/go.sum
Labels: dependencies, priority-3-low

#1673 GODRIVER-2835 Change the `bson.ValueReader` input to an `io.Reader`.
  .pre-commit-config.yaml
  bson/bson_test.go
  bson/copier.go
  bson/copier_test.go
  bson/decoder_example_test.go
  bson/decoder_test.go
  bson/default_value_decoders_test.go
  bson/default_value_encoders_test.go
  bson/encoder_example_test.go
  bson/encoder_test.go
  bson/marshal.go
  bson/marshal_test.go
  bson/mgoregistry_test.go
  bson/primitive_codecs_test.go
  bson/raw_value.go
  bson/registry_examples_test.go
  bson/testdata/lorem.txt
  bson/truncation_test.go
  bson/unmarshal.go
  bson/unmarshal_test.go
  bson/unmarshal_value_test.go
  bson/unmarshaling_cases_test.go
  bson/value_reader.go
  bson/value_reader_test.go
  bson/value_writer.go
  bson/value_writer_test.go
  internal/cmd/benchmark/bson_map.go
  internal/cmd/benchmark/bson_struct.go
  internal/codecutil/encoding_test.go
  internal/integration/client_side_encryption_prose_test.go
  internal/integration/crud_helpers_test.go
  internal/integration/database_test.go
  internal/integration/unified_runner_thread_helpers_test.go
  mongo/client_encryption.go
  mongo/cursor.go
  mongo/gridfs_bucket.go
  mongo/mongo.go
  mongo/options/mongooptions.go
Labels: priority-2-medium

#1716 GODRIVER-2617 Remove deprecated code
  bson/decoder.go
  bson/decoder_test.go
  bson/encoder.go
  bson/encoder_test.go
  bson/marshal.go
  bson/marshal_test.go
  bson/raw_value.go
  bson/registry.go
  bson/truncation_test.go
  bson/unmarshal.go
  internal/cmd/benchmark/operation_test.go
  internal/integration/crud_helpers_test.go
  internal/integration/unified/bulkwrite_helpers.go
  internal/integration/unified/collection_operation_execution.go
  internal/integration/unified/crud_helpers.go
  mongo/bulk_write.go
  mongo/bulk_write_models.go
  mongo/change_stream.go
  mongo/client.go
  mongo/collection.go
  mongo/collection_test.go
  mongo/cursor.go
  mongo/database.go
  mongo/gridfs_bucket.go
  mongo/index_view.go
  mongo/mongo.go
  mongo/options/clientoptions.go
  mongo/options/collation_test.go
  mongo/options/findoptions.go
  mongo/options/gridfsoptions.go
  mongo/options/mongooptions.go
  mongo/options/updateoptions.go
  mongo/read_write_concern_spec_test.go
  mongo/readconcern/readconcern.go
  mongo/readconcern/readconcern_test.go
  mongo/single_result.go
  mongo/single_result_test.go
  mongo/writeconcern/writeconcern.go
  x/mongo/driver/connstring/connstring.go
  x/mongo/driver/operation.go
  x/mongo/driver/operation_test.go
Labels: priority-2-medium

#1718 Upgrade logger examples
  etc/run-atlas-test.sh
  examples/_logger/logrus/go.mod
  examples/_logger/logrus/main.go
  examples/_logger/zap/go.mod
  examples/_logger/zap/go.sum
  examples/_logger/zap/main.go
  examples/_logger/zerolog/go.mod
  examples/_logger/zerolog/go.sum
  examples/_logger/zerolog/main.go
Labels: dependencies, priority-3-low, documentation

#1707 GODRIVER-2701 (Master) Implement a variant of DropIndex that gets keys rather than name
  internal/integration/index_view_test.go
  mongo/index_view.go
  x/mongo/driver/operation/drop_indexes.go
Labels: priority-3-low

#1722 Remove debugging Println from collection.find
  mongo/collection.go
Labels: priority-3-low

#1721 GODRIVER-3292 Pass context to custom mtest monitor
  mongo/integration/mtest/mongotest.go
Labels: priority-3-low
