Repository mongodb/mongo-go-driver, pull requests merged in 2024-02, with the labels that each got.

#1533 Remove unnecessary error from GridFSBucket method.
  internal/integration/gridfs_test.go
  internal/integration/unified/entity.go
  internal/integration/unified_spec_test.go
  mongo/database.go
  mongo/gridfs_bucket_test.go
  mongo/gridfs_test.go
Labels: priority-2-medium

#1545 Update version to v1.14.0-prerelease
  version/version.go
Labels: priority-1-high

#1546 GODRIVER-3081 Fix zero value detection for empty slices and maps.
  bson/bsoncodec/struct_codec.go
  bson/bsoncodec/struct_codec_test.go
  bson/doc.go
  bson/primitive_codecs_test.go
Labels: priority-1-high

#1539 GODRIVER-3082 Bump the minimum Go version to 1.18
  .evergreen/config.yml
  README.md
  benchmark/multi.go
  benchmark/operation_test.go
  benchmark/single.go
  cmd/testkms/main.go
  docs/CONTRIBUTING.md
  etc/compile_check.sh
  go.mod
  go.sum
  internal/test/compilecheck/go.mod
  internal/test/compilecheck/go.sum
  internal/test/faas/awslambda/mongodb/go.mod
  internal/test/faas/awslambda/mongodb/go.sum
  mongo/crud_examples_test.go
  mongo/database_test.go
  mongo/integration/errors_test.go
  mongo/integration/unified/admin_helpers.go
  mongo/ocsp_test.go
  mongo/options/example_test.go
  vendor/github.com/golang/snappy/go.mod
  vendor/github.com/klauspost/compress/go.mod
  vendor/github.com/klauspost/compress/go.sum
  vendor/github.com/xdg-go/pbkdf2/go.mod
  vendor/github.com/xdg-go/scram/go.mod
  vendor/github.com/xdg-go/scram/go.sum
  vendor/github.com/xdg-go/stringprep/go.mod
  vendor/github.com/xdg-go/stringprep/go.sum
  vendor/golang.org/x/xerrors/go.mod
  vendor/modules.txt
  x/mongo/driver/topology/topology.go
Labels: priority-1-high

#1557 GODRIVER-3082 go mod tidy compilecheck package
  internal/test/compilecheck/go.mod
  internal/test/compilecheck/go.sum
Labels: priority-1-high

#1551 GODRIVER-2886 Provide more detailed deprecation notes for BSON codecs.
  bson/bsoncodec/array_codec.go
  bson/bsoncodec/byte_slice_codec.go
  bson/bsoncodec/empty_interface_codec.go
  bson/bsoncodec/map_codec.go
  bson/bsoncodec/pointer_codec.go
  bson/bsoncodec/slice_codec.go
  bson/bsoncodec/string_codec.go
  bson/bsoncodec/struct_codec.go
  bson/bsoncodec/time_codec.go
  bson/bsoncodec/uint_codec.go
Labels: priority-2-medium

#1569 GODRIVER-3139 Automatically Add Labels to PRs
  .evergreen/config.yml
  .github/labeler.yml
Labels: priority-3-low
