Repository mongodb/mongo-go-driver, pull requests merged in 2024-01, with the labels that each got.

#1423 GODRIVER-2335 Preemptively cancel in progress operations when SDAM heartbeats timeout.
  event/monitoring.go
  internal/eventtest/eventtest.go
  internal/integration/unified/client_entity.go
  internal/integration/unified/entity.go
  internal/integration/unified/event_verification.go
  internal/integration/unified/testrunner_operation.go
  internal/integration/unified/unified_spec_runner.go
  testdata/connection-monitoring-and-pooling/pool-clear-interrupt-immediately.json
  testdata/connection-monitoring-and-pooling/pool-clear-interrupt-immediately.yml
  testdata/connection-monitoring-and-pooling/pool-clear-interrupting-pending-connections.json
  testdata/connection-monitoring-and-pooling/pool-clear-interrupting-pending-connections.yml
  testdata/connection-monitoring-and-pooling/pool-clear-schedule-run-interruptInUseConnections-false.json
  testdata/connection-monitoring-and-pooling/pool-clear-schedule-run-interruptInUseConnections-false.yml
  testdata/server-discovery-and-monitoring/unified/interruptInUse-pool-clear.json
  testdata/server-discovery-and-monitoring/unified/interruptInUse-pool-clear.yml
  x/mongo/driver/topology/CMAP_spec_test.go
  x/mongo/driver/topology/connection.go
  x/mongo/driver/topology/pool.go
  x/mongo/driver/topology/pool_generation_counter.go
  x/mongo/driver/topology/sdam_spec_test.go
  x/mongo/driver/topology/server.go
  x/mongo/driver/topology/server_test.go
Labels: priority-2-medium

#1496 GODRIVER-3039 Support sending a security token section in wire messages.
  .evergreen/config.yml
  .evergreen/orchestration/configs/replica_sets/security-token.json
  .evergreen/run-security-token.sh
  Makefile
  mongo/bulk_write.go
  mongo/change_stream.go
  mongo/client.go
  mongo/collection.go
  mongo/database.go
  mongo/index_view.go
  mongo/integration/mtest/mongotest.go
  mongo/integration/mtest/sent_message.go
  mongo/integration/mtest/setup.go
  mongo/options/clientoptions.go
  mongo/session.go
  x/mongo/driver/batch_cursor.go
  x/mongo/driver/operation.go
  x/mongo/driver/operation/abort_transaction.go
  x/mongo/driver/operation/aggregate.go
  x/mongo/driver/operation/command.go
  x/mongo/driver/operation/commit_transaction.go
  x/mongo/driver/operation/count.go
  x/mongo/driver/operation/create.go
  x/mongo/driver/operation/createIndexes.go
  x/mongo/driver/operation/delete.go
  x/mongo/driver/operation/distinct.go
  x/mongo/driver/operation/drop_collection.go
  x/mongo/driver/operation/drop_database.go
  x/mongo/driver/operation/drop_indexes.go
  x/mongo/driver/operation/end_sessions.go
  x/mongo/driver/operation/find.go
  x/mongo/driver/operation/find_and_modify.go
  x/mongo/driver/operation/insert.go
  x/mongo/driver/operation/listDatabases.go
  x/mongo/driver/operation/list_collections.go
  x/mongo/driver/operation/list_indexes.go
  x/mongo/driver/operation/update.go
  x/mongo/driver/wiremessage/wiremessage.go
Labels: priority-1-high

#1500 GODRIVER-3071 Correct uint Encoding BSON Documentation
  bson/doc.go
  bson/encoder_example_test.go
Labels: priority-3-low

#1492 GODRIVER-3049 Replace bsoncore.DocumentSequence with a bson type-agnostic analogue
  internal/integration/mtest/sent_message.go
  mongo/batch_cursor.go
  mongo/cursor.go
  mongo/cursor_test.go
  x/bsonx/bsoncore/document_sequence.go
  x/bsonx/bsoncore/document_sequence_test.go
  x/bsonx/bsoncore/iterator.go
  x/bsonx/bsoncore/iterator_test.go
  x/mongo/driver/batch_cursor.go
Labels: priority-3-low

#1507 GODRIVER-2762 Use minimum RTT for CSOT
  internal/cmd/compilecheck/go.mod
  internal/cmd/compilecheck/go.sum
  internal/integration/client_test.go
  internal/integration/unified/testrunner_operation.go
  testdata/client-side-operations-timeout/command-execution.json
  testdata/client-side-operations-timeout/command-execution.yml
  x/mongo/driver/driver.go
  x/mongo/driver/operation.go
  x/mongo/driver/operation_test.go
  x/mongo/driver/topology/rtt_monitor.go
  x/mongo/driver/topology/rtt_monitor_test.go
  x/mongo/driver/topology/server.go
Labels: priority-2-medium

#1497 GODRIVER-2726 Merge the gridfs into the mongo package
  internal/integration/crud_helpers_test.go
  internal/integration/gridfs_test.go
  internal/integration/unified/entity.go
  internal/integration/unified_spec_test.go
  mongo/client.go
  mongo/database.go
  mongo/gridfs/doc.go
  mongo/gridfs_bucket.go
  mongo/gridfs_bucket_test.go
  mongo/gridfs_download_stream.go
  mongo/gridfs_examples_test.go
  mongo/gridfs_test.go
  mongo/gridfs_upload_stream.go
Labels: priority-2-medium

#1518 Fix encoder_example_test.go build.
  bson/encoder_example_test.go
Labels: priority-2-medium
