Repository mongodb/mongo-go-driver, pull requests merged in 2024-11, with the labels that each got.

#1872 GODRIVER-3359 Sync unified spec tests
  testdata/index-management/createSearchIndex.json
  testdata/index-management/createSearchIndex.yml
  testdata/index-management/createSearchIndexes.json
  testdata/index-management/createSearchIndexes.yml
Labels: priority-3-low

#1874 GODRIVER-3340 Add a test for goroutine leaks.
  .evergreen/config.yml
  etc/run-goleak-test.sh
  internal/test/goleak/go.mod
  internal/test/goleak/go.sum
  internal/test/goleak/goleak_test.go
Labels: dependencies, priority-3-low

#1891 GODRIVER-3365 Update specifications links and remove stale specifications docs.
  internal/integration/client_side_encryption_prose_test.go
  internal/integration/server_selection_prose_test.go
  testdata/atlas-data-lake-testing/README.rst
  testdata/auth/README.rst
  testdata/auth/mongodb-aws.rst
  testdata/change-streams/README.rst
  testdata/client-side-encryption/README.rst
  testdata/client-side-operations-timeout/README.rst
  testdata/collection-management/README.rst
  testdata/connection-monitoring-and-pooling/README.rst
  testdata/connection-monitoring-and-pooling/connection-monitoring-and-pooling.rst
  testdata/connection-string/README.rst
  testdata/convenient-transactions/README.rst
  testdata/crud/README.rst
  testdata/initial-dns-seedlist-discovery/README.rst
  testdata/kmip-certs/README.md
  testdata/load-balancers/README.rst
  testdata/max-staleness/README.rst
  testdata/read-write-concern/README.rst
  testdata/retryable-reads/README.rst
  testdata/retryable-writes/README.rst
  testdata/server-discovery-and-monitoring/README.rst
  testdata/server-discovery-and-monitoring/monitoring/README.rst
  testdata/server-selection/README.rst
  testdata/sessions/README.rst
  testdata/transactions/README.rst
  testdata/uri-options/README.rst
  testdata/versioned-api/README.rst
Labels: priority-3-low

#1888 GODRIVER-3412 Add index hint support for distinct command.
  internal/integration/unified/collection_operation_execution.go
  mongo/collection.go
  mongo/options/distinctoptions.go
  testdata/crud/unified/distinct-hint.json
  testdata/crud/unified/distinct-hint.yml
  x/mongo/driver/operation/distinct.go
Labels: priority-3-low

#1889 Add examples to the marshaling updates in the migration guide
  docs/migration-2.0.md
Labels: priority-3-low, documentation

#1892 GODRIVER-1412 Add client metadata support for wrapping libraries
  internal/integration/handshake_test.go
  mongo/options/clientoptions.go
  x/mongo/driver/auth/auth.go
  x/mongo/driver/operation/hello.go
  x/mongo/driver/operation/hello_test.go
  x/mongo/driver/topology/server.go
  x/mongo/driver/topology/server_options.go
  x/mongo/driver/topology/topology_options.go
Labels: priority-3-low

#1895 GODRIVER-3438 Use artifactory for container image
  Dockerfile
Labels: priority-3-low

#1890 GODRIVER-3340 Add a test for goroutine leaks. (#1874) [master]
  .evergreen/config.yml
  Taskfile.yml
  etc/run-goleak-test.sh
  go.work
  internal/test/goleak/go.mod
  internal/test/goleak/go.sum
  internal/test/goleak/goleak_test.go
Labels: dependencies, priority-2-medium

#1897 GODRIVER-3420 Clarify docs and comments.
  bson/decoder.go
  bson/doc.go
  bson/primitive.go
  docs/migration-2.0.md
  mongo/gridfs_download_stream.go
  mongo/options/clientoptions.go
  mongo/options/encryptoptions.go
Labels: priority-1-high, documentation

#1896 GODRIVER-3425 Reference ObjectIdAsHexString decoder option in exception message.
  bson/decoder_test.go
  bson/string_codec.go
Labels: priority-1-high
