Repository mongodb/mongo-go-driver, pull requests merged in 2024-06, with the labels that each got.

#1584 GODRIVER-1808 Fix BSON unmarshaling into an interface containing a concrete value.
  bson/bsoncodec.go
  bson/decoder_test.go
  bson/default_value_decoders.go
  bson/default_value_decoders_test.go
  bson/empty_interface_codec.go
  bson/map_codec.go
  bson/struct_codec.go
  bson/unmarshal_test.go
Labels: priority-3-low

#1649 GODRIVER-3125 Allow to set search index type
  mongo/integration/search_index_prose_test.go
  mongo/integration/unified/collection_operation_execution.go
  mongo/options/searchindexoptions.go
  mongo/search_index_view.go
  testdata/index-management/createSearchIndex.json
  testdata/index-management/createSearchIndex.yml
  testdata/index-management/createSearchIndexes.json
  testdata/index-management/createSearchIndexes.yml
Labels: priority-3-low

#1652 GODRIVER-3125 [master] Allow to set search index type
  internal/integration/search_index_prose_test.go
  internal/integration/unified/collection_operation_execution.go
  mongo/options/searchindexoptions.go
  mongo/search_index_view.go
  testdata/index-management/createSearchIndex.json
  testdata/index-management/createSearchIndex.yml
  testdata/index-management/createSearchIndexes.json
  testdata/index-management/createSearchIndexes.yml
Labels: priority-3-low

#1656 GODRIVER-3187 [master] Add SBOM lite file
  sbom.json
Labels: priority-3-low

#1657 GODRIVER-3205 Use bson options when decoding distinct results
  internal/integration/collection_test.go
  mongo/collection.go
  mongo/results.go
Labels: priority-3-low

#1660 GODRIVER-3106 Increase the `maxTimeMS` to temporarily fix the test failure.
  testdata/client-side-operations-timeout/command-execution.json
  testdata/client-side-operations-timeout/command-execution.yml
Labels: priority-3-low

#1665 GODRIVER-2977 Remove "import comment" from "primitive.go".
  bson/primitive.go
Labels: priority-3-low

#1663 GODRIVER-3187 [master] Update sbom-lite file
  sbom.json
Labels: priority-3-low

#1646 GODRIVER-3240 Replace all bit-shifting in wiremessage with encoding/binary calls.
  x/mongo/driver/operation.go
  x/mongo/driver/wiremessage/wiremessage.go
  x/mongo/driver/wiremessage/wiremessage_test.go
Labels: priority-3-low

#1594 GODRIVER-1765 Add MarshalJSON/UnmarshalJSON functions for bson.D.
  bson/bson_test.go
  bson/primitive.go
Labels: priority-3-low

#1670 GODRIVER-3240 [v1] Replace all bit-shifting in wiremessage with encoding/binary calls
  x/mongo/driver/operation.go
  x/mongo/driver/wiremessage/wiremessage.go
  x/mongo/driver/wiremessage/wiremessage_test.go
Labels: priority-3-low

#1644 GODRIVER-3217 Use the manually-specified maxTimeMS on Find and Aggregate if it would be ommitted by CSOT
  mongo/integration/csot_test.go
  x/mongo/driver/operation.go
Labels: priority-3-low

#1655 GODRIVER-3187 Add SBOM lite file
  sbom.json
Labels: priority-3-low

#1674 GODRIVER-3245 Use a custom CodeQL workflow.
  .github/workflows/codeql.yml
Labels: priority-1-high

#1676 GODRIVER-3229 Add release workflow
  .github/workflows/release.yml
Labels: priority-1-high

#1677 GODRIVER-3245 [master] Use a custom CodeQL workflow.
  .github/workflows/codeql.yml
Labels: priority-1-high

#1668 GODRIVER-2667 Replacing the assert.Soon with the assert.Eventually function
  internal/test/compilecheck/go.mod
  internal/test/compilecheck/go.sum
  mongo/integration/client_test.go
  mongo/integration/csot_prose_test.go
  mongo/integration/sdam_error_handling_test.go
  mongo/integration/sdam_prose_test.go
  mongo/integration/unified_runner_events_helper_test.go
  mongo/with_transactions_test.go
  x/mongo/driver/topology/connection_test.go
  x/mongo/driver/topology/topology_errors_test.go
Labels: dependencies, priority-3-low

#1681 GODRIVER-3257 Update client.go
  mongo/client.go
Labels: priority-3-low

#1685 GODRIVER-3257 [master] Update client.go
  mongo/client.go
Labels: priority-3-low

#1577 GODRIVER-3132 Use dst buf pool for zstd encoding.
  x/mongo/driver/compression.go
Labels: priority-3-low

#1679 GODRIVER-2667 [master] Replacing the assert.Soon with the assert.Eventually function
  internal/cmd/compilecheck/go.mod
  internal/cmd/compilecheck/go.sum
  internal/integration/client_test.go
  internal/integration/csot_prose_test.go
  internal/integration/sdam_error_handling_test.go
  internal/integration/sdam_prose_test.go
  internal/integration/unified_runner_events_helper_test.go
  mongo/with_transactions_test.go
  x/mongo/driver/topology/connection_test.go
  x/mongo/driver/topology/topology_errors_test.go
Labels: dependencies, priority-3-low

#1686 GODRIVER-3132 [master] Use dst buf pool for zstd encoding.
  x/mongo/driver/compression.go
Labels: priority-3-low

#1675 GODRIVER-3248 Update windows CI build
  .evergreen/config.yml
Labels: priority-3-low

#1687 GODRIVER-3206 Deprecate RawValue.UnmarshalWithContext
  bson/raw_value.go
Labels: priority-3-low

#1680 GODRIVER-3192 Add SSDLC workflow
  .github/workflows/codeql.yml
  .github/workflows/release.yml
Labels: priority-1-high

#1664 GODRIVER-2591 Add `Stringer`s to `bson.D` and `bson.M`.
  bson/bson_test.go
  bson/decoder_example_test.go
  bson/mgocompat/bson_test.go
  bson/primitive.go
Labels: priority-3-low

#1659 GODRIVER-2612 Remove `RegistryBuilder`
  bson/array_codec.go
  bson/bson_test.go
  bson/bsoncodec_test.go
  bson/bsonoptions/byte_slice_codec_options.go
  bson/bsonoptions/doc.go
  bson/bsonoptions/empty_interface_codec_options.go
  bson/bsonoptions/map_codec_options.go
  bson/bsonoptions/slice_codec_options.go
  bson/bsonoptions/string_codec_options.go
  bson/bsonoptions/struct_codec_options.go
  bson/bsonoptions/time_codec_options.go
  bson/bsonoptions/uint_codec_options.go
  bson/bsonrw_test.go
  bson/byte_slice_codec.go
  bson/cond_addr_codec.go
  bson/decoder.go
  bson/default_value_decoders.go
  bson/default_value_decoders_test.go
  bson/default_value_encoders.go
  bson/default_value_encoders_test.go
  bson/empty_interface_codec.go
  bson/map_codec.go
  bson/mgocompat/bson_test.go
  bson/mgocompat/registry.go
  bson/mgocompat/setter_getter.go
  bson/mgoregistry.go
  bson/objectid.go
  bson/pointer_codec.go
  bson/primitive_codecs.go
  bson/primitive_codecs_test.go
  bson/raw_value_test.go
  bson/registry.go
  bson/registry_test.go
  bson/slice_codec.go
  bson/string_codec.go
  bson/string_codec_test.go
  bson/struct_codec.go
  bson/struct_tag_parser.go
  bson/struct_tag_parser_test.go
  bson/time_codec.go
  bson/time_codec_test.go
  bson/uint_codec.go
  bson/unmarshal_value_test.go
  bson/value_reader.go
  bson/value_writer.go
Labels: priority-2-medium

#1671 GODRIVER-2866 Update method signatures of `bson.ValueMarshaler`/`bson.ValueUnmarshaler` to only use basic types.
  bson/default_value_decoders.go
  bson/default_value_encoders.go
  bson/default_value_encoders_test.go
  bson/marshal.go
  bson/marshal_value_cases_test.go
  bson/primitive_codecs_test.go
  bson/unmarshal.go
  mongo/mongo.go
  mongo/mongo_test.go
Labels: priority-3-low

#1688 GODRIVER-3227 Deprecate bson.DefaultRegistry
  bson/registry.go
Labels: priority-3-low

#1684 GODRIVER-3240 Code hardening.
  bson/bsoncodec/default_value_decoders.go
  bson/bsoncodec/uint_codec.go
  bson/bsonrw/extjson_wrappers.go
  bson/bsonrw/value_reader.go
  cmd/testatlas/atlas_test.go
  etc/run-atlas-test.sh
  internal/logger/io_sink.go
  mongo/options/clientoptions.go
  x/bsonx/bsoncore/bsoncore.go
Labels: priority-1-high

#1690 GODRIVER-3052 Update release environment variables
  .github/workflows/release.yml
Labels: priority-1-high

#1692 GODRIVER-3052 Update release environment variables
  .github/workflows/release.yml
Labels: priority-1-high

#1691 GODRIVER-3260 [master] Code hardening
  bson/default_value_decoders.go
  bson/extjson_wrappers.go
  bson/uint_codec.go
  bson/value_reader.go
  etc/run-atlas-test.sh
  internal/cmd/testatlas/atlas_test.go
  internal/logger/io_sink.go
  mongo/options/clientoptions.go
  mongo/writeconcern/writeconcern.go
  x/bsonx/bsoncore/bsoncore.go
Labels: priority-3-low
