Repository mongodb/mongo-go-driver, pull requests merged in 2024-04, with the labels that each got.

#1590 GODRIVER-2910 Add durations to connection pool events.
  event/monitoring.go
  testdata/connection-monitoring-and-pooling/logging/connection-logging.json
  testdata/connection-monitoring-and-pooling/logging/connection-logging.yml
  testdata/connection-monitoring-and-pooling/logging/connection-pool-options.json
  testdata/connection-monitoring-and-pooling/logging/connection-pool-options.yml
  x/mongo/driver/topology/pool.go
  x/mongo/driver/topology/pool_test.go
Labels: priority-1-high

#1595 GODRIVER-1639 Add RawArray to bson lib
  bson/raw_array.go
  bson/raw_array_test.go
  bson/raw_value.go
  internal/bsonutil/bsonutil.go
  internal/integration/change_stream_test.go
  internal/integration/client_test.go
  internal/integration/cmd_monitoring_helpers_test.go
  internal/integration/crud_helpers_test.go
  internal/integration/unified/bulkwrite_helpers.go
  internal/integration/unified/client_operation_execution.go
  internal/integration/unified/collection_operation_execution.go
  internal/integration/unified/crud_helpers.go
  internal/integration/unified/database_operation_execution.go
  mongo/bson_helpers_test.go
Labels: priority-3-low

#1600 GODRIVER-3123 Skip test until QE Range Protocol V2 is Implemented
  mongo/integration/client_side_encryption_prose_test.go
Labels: priority-3-low

#1589 GODRIVER-3172 Read response in the background after an op timeout.
  internal/csot/csot.go
  mongo/change_stream.go
  mongo/collection.go
  mongo/gridfs/bucket.go
  mongo/integration/csot_test.go
  mongo/integration/mtest/mongotest.go
  mongo/integration/unified/unified_spec_runner.go
  x/mongo/driver/errors.go
  x/mongo/driver/operation.go
  x/mongo/driver/operation/aggregate.go
  x/mongo/driver/operation/find.go
  x/mongo/driver/operation_test.go
  x/mongo/driver/topology/connection.go
  x/mongo/driver/topology/pool.go
  x/mongo/driver/topology/rtt_monitor.go
  x/mongo/driver/topology/sdam_spec_test.go
Labels: priority-1-high

#1599 GODRIVER-3137 Skip failing transaction tests
  mongo/integration/unified/unified_spec_runner.go
Labels: priority-3-low

#1602 GODRIVER-3137 [master] Skip failing transaction tests
  internal/integration/unified/unified_spec_runner.go
Labels: priority-3-low

#1604 Fix version to prepare for the v1.15.0 release.
  version/version.go
Labels: priority-3-low

#1596 chore: fix function names in comment
  internal/test/faas/awslambda/mongodb/bootstrap.go
  mongo/database.go
  mongo/integration/unified_runner_events_helper_test.go
  x/mongo/driver/operation.go
Labels: priority-3-low

#1606 [master] chore: fix function names in comment (#1596)
  internal/cmd/faas/awslambda/mongodb/bootstrap.go
  internal/integration/unified_runner_events_helper_test.go
  mongo/database.go
  x/mongo/driver/operation.go
Labels: priority-3-low

#1597 GODRIVER-2910 [master] Add durations to connection pool events.
  event/monitoring.go
  testdata/connection-monitoring-and-pooling/logging/connection-logging.json
  testdata/connection-monitoring-and-pooling/logging/connection-logging.yml
  testdata/connection-monitoring-and-pooling/logging/connection-pool-options.json
  testdata/connection-monitoring-and-pooling/logging/connection-pool-options.yml
  x/mongo/driver/topology/pool.go
  x/mongo/driver/topology/pool_test.go
Labels: priority-3-low

#1605 GODRIVER-3145 [master] Don't retry on context timeout or cancellation.
  internal/integration/client_test.go
  x/mongo/driver/operation.go
Labels: priority-3-low

#1582 [master] Fix typo within WriteConcern docs (#1579)
  mongo/writeconcern/writeconcern.go
Labels: priority-3-low

#1607 GODRIVER-2612 Docs updates.
  bson/raw_array_test.go
  docs/common-issues.md
Labels: priority-2-medium, documentation

#1529 GODRIVER-3119 bson/primitive: improve DateTime and ObjectID JSON performance
  bson/bson_test.go
  bson/objectid.go
  bson/objectid_test.go
  bson/primitive.go
Labels: priority-3-low

#1563 GODRIVER-3043 Use default write/read concerns in the index search commands.
  Makefile
  mongo/collection.go
  mongo/integration/search_index_prose_test.go
  mongo/search_index_view.go
  testdata/index-management/searchIndexIgnoresReadWriteConcern.json
  testdata/index-management/searchIndexIgnoresReadWriteConcern.yml
  x/mongo/driver/operation/create_search_indexes.go
  x/mongo/driver/operation/drop_search_index.go
  x/mongo/driver/operation/update_search_index.go
Labels: priority-3-low

#1609 GODRIVER-3043 [master] Use default write/read concerns in the index search commands.
  Makefile
  internal/integration/search_index_prose_test.go
  mongo/collection.go
  mongo/search_index_view.go
  testdata/index-management/searchIndexIgnoresReadWriteConcern.json
  testdata/index-management/searchIndexIgnoresReadWriteConcern.yml
  x/mongo/driver/operation/create_search_indexes.go
  x/mongo/driver/operation/drop_search_index.go
  x/mongo/driver/operation/update_search_index.go
Labels: priority-3-low

#1587 GODRIVER-3107 Fix leaking rttMonitor.runHellos() routine.
  x/mongo/driver/topology/rtt_monitor.go
  x/mongo/driver/topology/server.go
Labels: priority-2-medium

#1611 GODRIVER-3107 [master] Fix leaking rttMonitor.runHellos() routine.
  x/mongo/driver/topology/rtt_monitor.go
  x/mongo/driver/topology/server.go
Labels: priority-3-low

#1608 Docs updates.
  docs/common-issues.md
Labels: priority-2-medium, documentation

#1610 GODRIVER-3185 Set up dependabot config
  .github/dependabot.yml
Labels: priority-3-low

#1620 Run `go mod tidy` before vendoring in compilecheck.
  etc/compile_check.sh
Labels: priority-3-low

#1624 [master] chore: fix some comments and typos (#1623)
  etc/compile_check.sh
  mongo/options/mongooptions.go
  mongo/writeconcern/writeconcern.go
  x/mongo/driver/auth/speculative_x509_test.go
  x/mongo/driver/operation.go
  x/mongo/driver/operation_test.go
  x/mongo/driver/topology/polling_srv_records_test.go
  x/mongo/driver/wiremessage/wiremessage.go
Labels: priority-3-low
