Repository mongodb/mongo-go-driver, pull requests merged in 2024-08, with the labels that each got.

#1720 GODRIVER-3255 Await heartbeat checks upto freq when polling
  mongo/integration/sdam_prose_test.go
  x/mongo/driver/topology/server.go
Labels: priority-1-high

#1713 GODRIVER-3246: Support human flow for OIDC
  cmd/testoidcauth/main.go
  x/mongo/driver/auth/internal/gssapi/gss.go
  x/mongo/driver/auth/internal/gssapi/sspi.go
  x/mongo/driver/auth/mongodbaws.go
  x/mongo/driver/auth/oidc.go
  x/mongo/driver/auth/oidc_test.go
  x/mongo/driver/auth/plain.go
  x/mongo/driver/auth/sasl.go
  x/mongo/driver/auth/scram.go
Labels: priority-2-medium

#1728 GODRIVER-2693 Rename event constants to match event names
  event/monitoring.go
  internal/eventtest/eventtest.go
  internal/integration/change_stream_test.go
  internal/integration/client_test.go
  internal/integration/retryable_reads_prose_test.go
  internal/integration/retryable_writes_prose_test.go
  internal/integration/unified/event.go
  internal/integration/unified/event_verification.go
  internal/integration/unified_runner_events_helper_test.go
  x/mongo/driver/topology/pool.go
Labels: priority-3-low

#1699 GODRIVER-3090 Optimize logging truncation for large documents
  bson/raw_test.go
  internal/bsoncoreutil/bsoncoreutil.go
  internal/bsoncoreutil/bsoncoreutil_test.go
  internal/logger/logger.go
  internal/logger/logger_test.go
  x/bsonx/bsoncore/array.go
  x/bsonx/bsoncore/array_test.go
  x/bsonx/bsoncore/bsoncore.go
  x/bsonx/bsoncore/document.go
  x/bsonx/bsoncore/document_test.go
  x/bsonx/bsoncore/element.go
  x/bsonx/bsoncore/value.go
  x/bsonx/bsoncore/value_test.go
  x/mongo/driver/operation.go
Labels: priority-3-low

#1724 GODRIVER-3292 [master] Pass context to custom mtest monitor
  internal/integration/mtest/mongotest.go
Labels: priority-3-low

#1725 GODRIVER-2728 [master] Implement automatic Azure token acquisition callback
  .evergreen/config.yml
  etc/run-oidc-test.sh
  internal/cmd/testoidcauth/main.go
  x/mongo/driver/auth/oidc.go
Labels: priority-3-low

#1738 GODRIVER-2806 [master] Implement automatic GCP token acquisition (#1708)
  .evergreen/config.yml
  internal/cmd/testoidcauth/main.go
  x/mongo/driver/auth/oidc.go
Labels: priority-3-low

#1726 GODRIVER-2821 Remove ErrUnacknowledgedWrite from mongo pkg
  internal/integration/json_helpers_test.go
  internal/integration/unified/error.go
  mongo/errors.go
Labels: priority-3-low

#1736 GODRIVER-3292 [release/1.16] Pass context to custom mtest monitor
  mongo/integration/mtest/mongotest.go
Labels: priority-3-low

#1737 GODRIVER-3255 [release/1.16] Await heartbeat checks upto freq when polling
  mongo/integration/sdam_prose_test.go
  x/mongo/driver/topology/server.go
Labels: priority-3-low

#1734 GODRIVER-3249: Handle all possible OIDC configuration errors
  mongo/options/clientoptions.go
  mongo/options/clientoptions_test.go
  x/mongo/driver/auth/oidc.go
  x/mongo/driver/connstring/connstring.go
Labels: priority-3-low

#1740 GODRIVER-3246 [master] Support human flow for OIDC (#1713)
  internal/cmd/testoidcauth/main.go
  x/mongo/driver/auth/internal/gssapi/gss.go
  x/mongo/driver/auth/internal/gssapi/sspi.go
  x/mongo/driver/auth/mongodbaws.go
  x/mongo/driver/auth/oidc.go
  x/mongo/driver/auth/oidc_test.go
  x/mongo/driver/auth/plain.go
  x/mongo/driver/auth/sasl.go
  x/mongo/driver/auth/scram.go
Labels: priority-3-low

#1739 GODRIVER-3138 Improve omitempty tag documentation.
  bson/doc.go
Labels: priority-3-low

#1741 GODRIVER-3249 [master] Handle all possible OIDC configuration errors
  mongo/options/clientoptions.go
  mongo/options/clientoptions_test.go
  x/mongo/driver/auth/oidc.go
  x/mongo/driver/connstring/connstring.go
Labels: priority-3-low

#1742 GODRIVER-3138 [master] Improve omitempty tag documentation.
  bson/doc.go
Labels: priority-3-low

#1743 GODRIVER-3299 Address gssapi build failure
  x/mongo/driver/auth/internal/gssapi/sspi.go
Labels: priority-3-low

#1745 GODRIVER-3299 [v1] Address gssapi build failure
  x/mongo/driver/auth/internal/gssapi/sspi.go
Labels: priority-3-low

#1727 GODRIVER-3255 [master] Await heartbeat checks upto freq when polling
  internal/integration/sdam_prose_test.go
  x/mongo/driver/topology/server.go
Labels: priority-3-low

#1730 GODRIVER-3294 Upgrade CI to Go 1.22
  .evergreen/config.yml
  README.md
  docs/CONTRIBUTING.md
  examples/_logger/logrus/go.mod
  examples/_logger/zap/go.mod
  examples/_logger/zerolog/go.mod
  go.work
  internal/cmd/faas/awslambda/mongodb/go.mod
  x/mongo/driver/topology/pool_test.go
Labels: dependencies, priority-3-low, documentation

#1746 GODRIVER-3301 Fix Atlas Data Lake Startup Failure
  .evergreen/config.yml
Labels: priority-3-low

#1735 GODRIVER-3303 Prevent out of bounds panic with length value
  x/mongo/driver/wiremessage/wiremessage.go
Labels: priority-3-low

#1744 GODRIVER-3300 Clean up cherry-picker script
  docs/CONTRIBUTING.md
  etc/cherry-picker.sh
Labels: priority-3-low, documentation

#1748 [master] chore: fix some comments
  internal/cmd/testoidcauth/main.go
Labels: priority-3-low

#1719 GODRIVER-3181 Read server responses in the background after op timeout.
  internal/integration/csot_test.go
  internal/integration/mtest/mongotest.go
  internal/integration/unified/unified_spec_runner.go
  mongo/collection.go
  x/mongo/driver/batch_cursor.go
  x/mongo/driver/errors.go
  x/mongo/driver/integration/aggregate_test.go
  x/mongo/driver/integration/main_test.go
  x/mongo/driver/integration/scram_test.go
  x/mongo/driver/operation.go
  x/mongo/driver/operation/aggregate.go
  x/mongo/driver/operation/find.go
  x/mongo/driver/operation_test.go
  x/mongo/driver/topology/connection.go
  x/mongo/driver/topology/pool.go
  x/mongo/driver/topology/rtt_monitor.go
Labels: priority-3-low

#1754 GODRIVER-3303 [master] Prevent out of bounds panic with length value
  x/mongo/driver/wiremessage/wiremessage.go
Labels: priority-3-low

#1755 GODRIVER-3300 [master] Add cherry-picker script
  docs/CONTRIBUTING.md
  etc/cherry-picker.sh
Labels: priority-3-low, documentation

#1756 Remove unused function param to fix linter failure.
  x/mongo/driver/operation_test.go
Labels: priority-3-low

#1749 GODRIVER-3301 [master] Fix Atlas Data Lake Startup Failure
  .evergreen/config.yml
Labels: priority-3-low

#1753 GODRIVER-3303 Remove redundant code; Add test cases.
  mongo/integration/mtest/wiremessage_helpers.go
  x/mongo/driver/operation.go
  x/mongo/driver/wiremessage/wiremessage.go
  x/mongo/driver/wiremessage/wiremessage_test.go
Labels: priority-3-low

#1757 GODRIVER-3149: OIDC Spec Cleanup
  .evergreen/config.yml
  cmd/testoidcauth/main.go
  mongo/options/clientoptions.go
  mongo/options/clientoptions_test.go
  x/mongo/driver/auth/oidc.go
Labels: priority-3-low

#1768 GODRIVER-3303 [master] Remove redundant code; Add test cases.
  internal/integration/mtest/wiremessage_helpers.go
  x/mongo/driver/operation.go
  x/mongo/driver/wiremessage/wiremessage.go
  x/mongo/driver/wiremessage/wiremessage_test.go
Labels: priority-3-low

#1770 GODRIVER-3159 Upgrade youmark/pkcs8
  Makefile
  examples/_logger/logrus/go.mod
  examples/_logger/logrus/go.sum
  examples/_logger/zap/go.mod
  examples/_logger/zap/go.sum
  examples/_logger/zerolog/go.mod
  examples/_logger/zerolog/go.sum
  go.mod
  go.sum
  go.work.sum
  internal/test/compilecheck/go.mod
  internal/test/compilecheck/go.sum
  internal/test/faas/awslambda/mongodb/go.mod
  internal/test/faas/awslambda/mongodb/go.sum
  vendor/github.com/youmark/pkcs8/.travis.yml
  vendor/github.com/youmark/pkcs8/README.md
  vendor/github.com/youmark/pkcs8/cipher.go
  vendor/github.com/youmark/pkcs8/cipher_3des.go
  vendor/github.com/youmark/pkcs8/cipher_aes.go
  vendor/github.com/youmark/pkcs8/kdf_pbkdf2.go
  vendor/github.com/youmark/pkcs8/kdf_scrypt.go
  vendor/github.com/youmark/pkcs8/pkcs8.go
  vendor/golang.org/x/crypto/scrypt/scrypt.go
  vendor/modules.txt
Labels: dependencies, priority-3-low, documentation

#1777 GODRIVER-3159 [master] Upgrade youmark/pkcs8
  examples/_logger/logrus/go.mod
  examples/_logger/logrus/go.sum
  examples/_logger/zap/go.mod
  examples/_logger/zap/go.sum
  examples/_logger/zerolog/go.mod
  examples/_logger/zerolog/go.sum
  go.mod
  go.sum
  internal/cmd/benchmark/go.mod
  internal/cmd/benchmark/go.sum
  internal/cmd/compilecheck/go.mod
  internal/cmd/compilecheck/go.sum
  internal/cmd/faas/awslambda/mongodb/go.mod
  internal/cmd/faas/awslambda/mongodb/go.sum
Labels: dependencies, priority-3-low, documentation

#1764 GODRIVER-3215 Fix default auth source for auth specified via ClientOptions.
  mongo/client.go
  mongo/client_test.go
  mongo/options/clientoptions.go
  x/mongo/driver/auth/auth.go
  x/mongo/driver/auth/gssapi.go
  x/mongo/driver/auth/mongodbaws.go
  x/mongo/driver/auth/mongodbcr.go
  x/mongo/driver/auth/oidc.go
  x/mongo/driver/auth/plain.go
  x/mongo/driver/auth/plain_test.go
  x/mongo/driver/auth/scram.go
  x/mongo/driver/auth/x509.go
  x/mongo/driver/connstring/connstring.go
  x/mongo/driver/topology/topology_options.go
  x/mongo/driver/topology/topology_options_test.go
Labels: priority-1-high

#1778 GODRIVER-3314 Fix backport script invocation
  .evergreen/config.yml
Labels: priority-3-low

#1769 GODRIVER-3149 [master] OIDC Spec Cleanup
  .evergreen/config.yml
  internal/cmd/testoidcauth/main.go
  mongo/options/clientoptions.go
  mongo/options/clientoptions_test.go
  x/mongo/driver/auth/oidc.go
Labels: priority-3-low

#1779 GODRIVER-2993 SDAM unit test sharded/too_new needs to defined wireVersions for host b
  testdata/server-discovery-and-monitoring/rs/too_old.json
  testdata/server-discovery-and-monitoring/rs/too_old.yml
  testdata/server-discovery-and-monitoring/sharded/too_new.json
  testdata/server-discovery-and-monitoring/sharded/too_new.yml
Labels: priority-3-low

#1781 GODRIVER-3314 Fix backport script invocation
  .evergreen/config.yml
Labels: priority-3-low

#1780 GODRIVER-2993 [v1] SDAM unit test sharded/too_new needs to defined wireVer…
  testdata/server-discovery-and-monitoring/rs/too_old.json
  testdata/server-discovery-and-monitoring/rs/too_old.yml
  testdata/server-discovery-and-monitoring/sharded/too_new.json
  testdata/server-discovery-and-monitoring/sharded/too_new.yml
Labels: priority-3-low
