Repository mongodb/mongo-go-driver, pull requests merged in 2024-09, with the labels that each got.

#1788 GODRIVER-3290 Mention the final 1.x release in the release notes
  README.md
Labels: priority-3-low

#1786 GODRIVER-3314 Add PR Cherrypicker Task [master]
  .evergreen/config.yml
  docs/CONTRIBUTING.md
Labels: priority-3-low, documentation

#1766 WRITING-26459 Add v2 Migration Guide
  README.md
  docs/migration-2.0.md
Labels: priority-2-medium, documentation

#1789 GODRIVER-3195 Sync updated QE Range tests
  testdata/client-side-encryption/legacy/fle2v2-CreateCollection-OldServer.json
  testdata/client-side-encryption/legacy/fle2v2-CreateCollection-OldServer.yml
  testdata/client-side-encryption/legacy/fle2v2-CreateCollection.json
  testdata/client-side-encryption/legacy/fle2v2-CreateCollection.yml
  testdata/client-side-encryption/legacy/fle2v2-MissingKey.json
  testdata/client-side-encryption/legacy/fle2v2-MissingKey.yml
  testdata/client-side-encryption/legacy/fle2v2-Rangev2-Compact.json
  testdata/client-side-encryption/legacy/fle2v2-Rangev2-Compact.yml
Labels: priority-3-low

#1792 WRITING-26459 Fix link in migration guide
  docs/migration-2.0.md
Labels: priority-3-low, documentation

#1776 GODRIVER-3311 Use setup and teardown scripts from drivers-tools
  .evergreen/config.yml
  .evergreen/run-mongodb-aws-ecs-test.sh
  .evergreen/run-mongodb-aws-test.sh
  .evergreen/run-tests.sh
  .pre-commit-config.yaml
  etc/docker_entry.sh
  etc/gen-ec-certs/gen-ec-certs.sh
  etc/install-libmongocrypt.sh
  etc/run-atlas-test.sh
  etc/run-awskms-test.sh
  etc/run-enterprise-gssapi-test.sh
  etc/run-enterprise-plain-test.sh
  etc/run-oidc-test.sh
  etc/run-serverless-test.sh
  etc/run_docker.sh
  etc/setup-encryption.sh
Labels: priority-3-low

#1785 GODRIVER-2529 Return error if a ClientEncryption is used after Close
  mongo/client_encryption.go
  mongo/client_encryption_test.go
Labels: priority-3-low

#1793 GODRIVER-963 canonical parameter is not respected in UnmarshalExtJSON
  bson/extjson_parser.go
  bson/extjson_reader.go
  bson/unmarshal.go
Labels: priority-3-low

#1782 GODRIVER-3322 Apply client-level timeout to UploadFromStreamWithID
  internal/integration/csot_prose_test.go
  mongo/gridfs_bucket.go
  mongo/gridfs_download_stream.go
  mongo/gridfs_upload_stream.go
Labels: priority-1-high

#1791 GODRIVER-3326 Add `ObjectIDAsHexString` to `BSONOptions`.
  internal/codecutil/encoding.go
  internal/codecutil/encoding_test.go
  internal/integration/client_test.go
  mongo/cursor.go
  mongo/cursor_test.go
  mongo/mongo.go
  mongo/mongo_test.go
  mongo/options/clientoptions.go
  x/mongo/driver/batch_cursor.go
Labels: priority-2-medium

#1798 GODRIVER-3215 Fix default auth source for auth specified via ClientOptions [master]
  mongo/client.go
  mongo/client_test.go
  mongo/options/clientoptions.go
  x/mongo/driver/auth/auth.go
  x/mongo/driver/auth/gssapi.go
  x/mongo/driver/auth/mongodbaws.go
  x/mongo/driver/auth/mongodbcr.go
  x/mongo/driver/auth/oidc.go
  x/mongo/driver/auth/plain.go
  x/mongo/driver/auth/plain_test.go
  x/mongo/driver/auth/scram.go
  x/mongo/driver/auth/x509.go
  x/mongo/driver/connstring/connstring.go
  x/mongo/driver/topology/topology_options.go
  x/mongo/driver/topology/topology_options_test.go
Labels: priority-1-high

#1759 GODRIVER-2758: Add documentation examples
  .pre-commit-config.yaml
  mongo/client_examples_test.go
Labels: priority-1-high

#1801 GODRIVER-2758: Add documentation examples [master]
  .pre-commit-config.yaml
  mongo/client_examples_test.go
Labels: priority-1-high

#1795 GODRIVER-3331 Fix default authSource for SRV connections
  .evergreen/config.yml
  mongo/options/clientoptions_test.go
  x/mongo/driver/connstring/connstring.go
  x/mongo/driver/connstring/connstring_test.go
Labels: priority-1-high

#1796 GODRIVER-2587 Implement modifyCollection for the unified test runner
  internal/integration/unified/database_operation_execution.go
  internal/integration/unified/operation.go
  testdata/collection-management/modifyCollection-errorResponse.json
  testdata/collection-management/modifyCollection-errorResponse.yml
Labels: priority-3-low

#1803 GODRIVER-3331 Fix default authSource for SRV connections [master]
  .evergreen/config.yml
  mongo/options/clientoptions_test.go
  x/mongo/driver/connstring/connstring.go
  x/mongo/driver/connstring/connstring_test.go
Labels: priority-1-high

#1799 GODRIVER-3335 Use small evergreen variants for static checks and bot runs
  .evergreen/config.yml
Labels: priority-3-low

#1809 Remove GCP from supplied callback example
  mongo/client_examples_test.go
Labels: priority-3-low

#1800 GODRIVER-3312 Remove remaining usage of Evergreen Secrets
  .evergreen/config.yml
Labels: priority-1-high

#1811 GODRIVER-3312 Use remaining test secrets from the vault [v1]
  .evergreen/config.yml
Labels: priority-1-high

#1812 GODRIVER-3182 Replace makefile with taskfile
  .evergreen/config.yml
  .evergreen/run-tests.sh
  .github/workflows/codeql.yml
  Dockerfile
  Makefile
  Taskfile.yml
  docs/CONTRIBUTING.md
  etc/check_license.sh
  etc/docker_entry.sh
  etc/prep-perf.sh
  etc/run-awskms-test.sh
  etc/run-enterprise-gssapi-test.sh
  etc/run-enterprise-plain-test.sh
  etc/run-serverless-test.sh
  etc/run_docker.sh
Labels: priority-3-low, documentation

#1813 Fix leading slash exit in fuzz test
  .evergreen/run-fuzz.sh
Labels: priority-3-low

#1758 GODRIVER-3302 Handle malformatted message length properly.
  x/mongo/driver/topology/connection.go
  x/mongo/driver/topology/connection_test.go
  x/mongo/driver/topology/pool.go
  x/mongo/driver/topology/pool_test.go
Labels: priority-1-high

#1732 GODRIVER-3291 Refactor `bson.valueReader` with bufio.
  bson/value_reader.go
  bson/value_reader_test.go
Labels: priority-2-medium

#1817 GODRIVER-3302 Handle malformatted message length properly. (#1758) [master]
  x/mongo/driver/topology/connection.go
  x/mongo/driver/topology/connection_test.go
  x/mongo/driver/topology/pool.go
  x/mongo/driver/topology/pool_test.go
Labels: priority-1-high

#1816 GODRIVER-3342 Update MacOS Hosts for Evergreen Host Migration
  .evergreen/config.yml
  etc/run-enterprise-gssapi-test.sh
Labels: priority-3-low

#1814 Remove print statements from raw array test
  bson/raw_array_test.go
Labels: priority-3-low

#1807 GODRIVER-3332 Returning ErrClientDisconnected when sessionPool is null is unecessary
  mongo/client.go
  mongo/client_test.go
  mongo/collection_test.go
  mongo/database_test.go
Labels: priority-3-low

#1822 GODRIVER-2529 Remove repeat test from client_encryption_test.go
  mongo/client_encryption_test.go
Labels: priority-3-low

#1818 GODRIVER-3313 Skip CSOT spec tests on Windows and macOS.
  .evergreen/config.yml
  .evergreen/run-tests.sh
  mongo/integration/csot_prose_test.go
  mongo/integration/csot_test.go
  mongo/integration/unified/unified_spec_runner.go
Labels: priority-3-low

#1823 GODRIVER-3357 Bump golangci-lint for 1.23 compatibility
  .pre-commit-config.yaml
  Taskfile.yml
  internal/integration/unified/event_verification.go
  mongo/client.go
Labels: priority-3-low

#1804 GODRIVER-2589 Clarify `*Cursor.All()` behavior in comment.
  mongo/cursor.go
  mongo/cursor_test.go
Labels: priority-3-low

#1824 DEVPROD-10453 Use assume_role for s3 uploads [v1]
  .evergreen/config.yml
Labels: priority-3-low

#1820 GODRIVER-2567 CSFLE/QE Naming
  internal/integration/crud_helpers_test.go
  mongo/client.go
  mongo/database.go
  mongo/doc.go
  mongo/errors.go
  mongo/options/autoencryptionoptions.go
  testdata/client-side-encryption/README.rst
  x/mongo/driver/operation.go
Labels: priority-3-low

#1825 GODRIVER-2838 Deprecate sharded-replicaset topology type and clean up redundant runOnRequirements
  testdata/change-streams/change-streams-clusterTime.json
  testdata/change-streams/change-streams-clusterTime.yml
  testdata/change-streams/change-streams-disambiguatedPaths.json
  testdata/change-streams/change-streams-disambiguatedPaths.yml
  testdata/change-streams/change-streams-errors.json
  testdata/change-streams/change-streams-errors.yml
  testdata/change-streams/change-streams-pre_and_post_images.json
  testdata/change-streams/change-streams-pre_and_post_images.yml
  testdata/change-streams/change-streams-resume-allowlist.json
  testdata/change-streams/change-streams-resume-allowlist.yml
  testdata/change-streams/change-streams-resume-errorLabels.json
  testdata/change-streams/change-streams-resume-errorLabels.yml
  testdata/change-streams/change-streams-showExpandedEvents.json
  testdata/change-streams/change-streams-showExpandedEvents.yml
  testdata/client-side-operations-timeout/command-execution.json
  testdata/client-side-operations-timeout/error-transformations.json
  testdata/client-side-operations-timeout/error-transformations.yml
  testdata/client-side-operations-timeout/global-timeoutMS.json
  testdata/client-side-operations-timeout/global-timeoutMS.yml
  testdata/client-side-operations-timeout/override-operation-timeoutMS.json
  testdata/client-side-operations-timeout/override-operation-timeoutMS.yml
  testdata/client-side-operations-timeout/retryability-timeoutMS.json
  testdata/client-side-operations-timeout/retryability-timeoutMS.yml
  testdata/retryable-writes/unified/bulkWrite-serverErrors.json
  testdata/retryable-writes/unified/bulkWrite-serverErrors.yml
  testdata/retryable-writes/unified/insertOne-serverErrors.json
  testdata/retryable-writes/unified/insertOne-serverErrors.yml
  testdata/run-command/runCommand.json
  testdata/run-command/runCommand.yml
  testdata/sessions/driver-sessions-dirty-session-errors.json
  testdata/sessions/driver-sessions-dirty-session-errors.yml
  testdata/sessions/snapshot-sessions-unsupported-ops.json
  testdata/sessions/snapshot-sessions-unsupported-ops.yml
  testdata/sessions/snapshot-sessions.json
  testdata/sessions/snapshot-sessions.yml
  testdata/transactions/unified/mongos-unpin.json
  testdata/transactions/unified/mongos-unpin.yml
  testdata/unified-test-format/valid-pass/poc-crud.json
  testdata/unified-test-format/valid-pass/poc-crud.yml
  testdata/unified-test-format/valid-pass/poc-retryable-writes.json
  testdata/unified-test-format/valid-pass/poc-retryable-writes.yml
  testdata/unified-test-format/valid-pass/poc-sessions.json
  testdata/unified-test-format/valid-pass/poc-sessions.yml
  testdata/unified-test-format/valid-pass/poc-transactions-convenient-api.json
  testdata/unified-test-format/valid-pass/poc-transactions-convenient-api.yml
  testdata/unified-test-format/valid-pass/poc-transactions-mongos-pin-auto.json
  testdata/unified-test-format/valid-pass/poc-transactions-mongos-pin-auto.yml
  testdata/unified-test-format/valid-pass/poc-transactions.json
  testdata/unified-test-format/valid-pass/poc-transactions.yml
  testdata/versioned-api/transaction-handling.json
  testdata/versioned-api/transaction-handling.yml
Labels: priority-3-low

#1827 GODRIVER-2589 Clarify `*Cursor.All()` behavior in comment. (#1804)
  mongo/cursor.go
  mongo/cursor_test.go
Labels: priority-3-low

#1826 GODRIVER-3357 Make linting more repeatable
  .evergreen/config.yml
  .github/workflows/test.yml
  .pre-commit-config.yaml
  Taskfile.yml
  etc/golangci-lint.sh
Labels: priority-3-low

#1821 GODRIVER-3182 Update go dist version for backport task
  .evergreen/config.yml
Labels: priority-3-low

#1830 GODRIVER-3358 Do not override authSource from TXT record
  x/mongo/driver/connstring/connstring.go
Labels: priority-1-high

#1833 Move fail point structs to an internal package.
  internal/failpoint/failpoint.go
  internal/integration/change_stream_test.go
  internal/integration/client_test.go
  internal/integration/crud_prose_test.go
  internal/integration/csot_prose_test.go
  internal/integration/csot_test.go
  internal/integration/cursor_test.go
  internal/integration/database_test.go
  internal/integration/errors_test.go
  internal/integration/index_view_test.go
  internal/integration/mtest/global_state.go
  internal/integration/mtest/mongotest.go
  internal/integration/primary_stepdown_test.go
  internal/integration/retryable_reads_prose_test.go
  internal/integration/retryable_writes_prose_test.go
  internal/integration/retryable_writes_spec_test.go
  internal/integration/sdam_error_handling_test.go
  internal/integration/sdam_prose_test.go
  internal/integration/server_selection_prose_test.go
  internal/integration/unified_spec_test.go
Labels: priority-3-low

#1835 GODRIVER-3313 Skip CSOT spec tests on Windows and macOS. (#1818) [master]
  .evergreen/config.yml
  .evergreen/run-tests.sh
  internal/integration/csot_prose_test.go
  internal/integration/csot_test.go
  internal/integration/unified/unified_spec_runner.go
Labels: priority-3-low

#1834 Move and reformat errors helper unit tests.
  internal/integration/errors_test.go
  mongo/errors_test.go
Labels: priority-3-low

#1837 DEVPROD-10453 Use assume_role for s3 uploads [release/1.17] (#1824)
  .evergreen/config.yml
Labels: priority-3-low

#1839 GODRIVER-2589 [release/1.17] Clarify `*Cursor.All()` behavior in comment.
  mongo/cursor.go
  mongo/cursor_test.go
Labels: priority-3-low

#1840 GODRIVER-3358 [release/1.17] Do not override authSource from TXT record
  x/mongo/driver/connstring/connstring.go
Labels: priority-3-low

#1838 GODRIVER-3313 [release/1.17] Skip CSOT spec tests on Windows and macOS.
  .evergreen/config.yml
  .evergreen/run-tests.sh
  mongo/integration/csot_prose_test.go
  mongo/integration/csot_test.go
  mongo/integration/unified/unified_spec_runner.go
Labels: priority-3-low
