Repository mongodb/mongo-go-driver, pull requests merged in 2025-02, with the labels that each got.

#1919 GODRIVER-3286 BSON Binary vector subtype support.
  bson/bson_binary_vector_spec_test.go
  bson/bson_corpus_spec_test.go
  bson/default_value_decoders.go
  bson/default_value_encoders.go
  bson/extjson_parser_test.go
  bson/json_scanner_test.go
  bson/types.go
  bson/vector.go
  testdata/bson-binary-vector/float32.json
  testdata/bson-binary-vector/int8.json
  testdata/bson-binary-vector/packed_bit.json
  testdata/bson-corpus/binary.json
Labels: priority-1-high

#1914 GODRIVER-3307 Simplify MarshalValue and UnmarshalValue test case setup.
  bson/marshal_value_cases_test.go
  bson/marshal_value_test.go
  bson/unmarshal_value_test.go
Labels: priority-3-low

#1928 GODRIVER-3298 Handle joined errors correctly in WithTransaction.
  mongo/errors.go
  mongo/session.go
  mongo/with_transactions_test.go
Labels: priority-3-low

#1887 GODRIVER-3168 Retry KMS requests on transient errors.
  .evergreen/config.yml
  Taskfile.yml
  etc/install-libmongocrypt.sh
  internal/integration/client_side_encryption_prose_test.go
  x/mongo/driver/crypt.go
  x/mongo/driver/mongocrypt/mongocrypt.go
  x/mongo/driver/mongocrypt/mongocrypt_kms_context.go
  x/mongo/driver/mongocrypt/mongocrypt_kms_context_not_enabled.go
Labels: priority-2-medium

#1927 GODRIVER-3370 Add bypassEmptyTsReplacement option.
  mongo/bulk_write.go
  mongo/collection.go
  mongo/integration/collection_test.go
  mongo/options/bulkwriteoptions.go
  mongo/options/findoptions.go
  mongo/options/insertoptions.go
  mongo/options/replaceoptions.go
  mongo/options/updateoptions.go
  x/mongo/driver/operation/find_and_modify.go
  x/mongo/driver/operation/insert.go
  x/mongo/driver/operation/update.go
Labels: priority-1-high

#1923 GODRIVER-3285 Allow sort option in client bulk write.
  internal/integration/unified/client_operation_execution.go
  mongo/bulk_write_models.go
  mongo/client_bulk_write.go
  mongo/client_bulk_write_models.go
  mongo/options/findoptions.go
  mongo/options/gridfsoptions.go
  mongo/options/replaceoptions.go
  mongo/options/updateoptions.go
  testdata/crud/unified/client-bulkWrite-replaceOne-sort.json
  testdata/crud/unified/client-bulkWrite-replaceOne-sort.yml
  testdata/crud/unified/client-bulkWrite-updateOne-sort.json
  testdata/crud/unified/client-bulkWrite-updateOne-sort.yml
Labels: priority-1-high

#1939 GODRIVER-3448 Limit GOMAXPROCS for fuzz tests
  etc/run-fuzz.sh
Labels: priority-3-low

#1924 GODRIVER-3470 Correct BSON unmarshaling logic for null values
  bson/bsoncodec/default_value_decoders.go
  bson/unmarshal.go
  bson/unmarshal_value_test.go
  bson/unmarshaling_cases_test.go
Labels: priority-1-high

#1945 GODRIVER-3470 Correct BSON unmarshaling logic for null values (#1924) [master]
  bson/default_value_decoders.go
  bson/unmarshal.go
  bson/unmarshal_value_test.go
  bson/unmarshaling_cases_test.go
Labels: priority-1-high

#1948 GODRIVER-3452 MergeClientOptions returns object when given nil arguments (#1917) [release/2.0]
  mongo/options/clientoptions.go
  mongo/options/clientoptions_test.go
Labels: priority-3-low

#1952 GODRIVER-3477 Bump golang.org/x/crypto from 0.29.0 to 0.31.0 [release/2.0]
  examples/_logger/logrus/go.mod
  examples/_logger/logrus/go.sum
  examples/_logger/zap/go.mod
  examples/_logger/zap/go.sum
  examples/_logger/zerolog/go.mod
  examples/_logger/zerolog/go.sum
  go.mod
  go.sum
  internal/cmd/benchmark/go.mod
  internal/cmd/benchmark/go.sum
  internal/cmd/compilecheck/go.mod
  internal/cmd/compilecheck/go.sum
  internal/cmd/faas/awslambda/mongodb/go.mod
  internal/cmd/faas/awslambda/mongodb/go.sum
Labels: dependencies, priority-3-low, documentation

#1942 GODRIVER-3481 Improve JSON tests for Binary Vector Subtype.
  bson/bson_binary_vector_spec_test.go
  testdata/bson-binary-vector/float32.json
  testdata/bson-binary-vector/int8.json
  testdata/bson-binary-vector/packed_bit.json
Labels: priority-3-low

#1956 Cherry pick 1.17.2 work to release/1.17
  .evergreen/config.yml
  bson/unmarshaling_cases_test.go
  etc/run-goleak-test.sh
  internal/test/goleak/go.mod
  internal/test/goleak/go.sum
  internal/test/goleak/goleak_test.go
Labels: dependencies, priority-3-low

#1946 GODRIVER-3485 sync `non-lb-connection-establishment`
  testdata/load-balancers/non-lb-connection-establishment.json
  testdata/load-balancers/non-lb-connection-establishment.yml
Labels: priority-3-low

#1930 fix database watch function didn't set bsonOpts for changeStreamConfig
  mongo/database.go
Labels: priority-3-low

#1963 Fix use of testing.T instead of mtest.T in assertions in subtests.
  internal/integration/csot_prose_test.go
  internal/integration/sdam_prose_test.go
Labels: priority-3-low
