Repository mongodb/mongo-go-driver, pull requests merged in 2025-03, with the labels that each got.

#1962 Add GitHub Actions workflow for merge ups
  .github/workflows/merge-up.yml
Labels: priority-3-low

#1953 GODRIVER-3427 Add a global "omitempty" flag.
  bson/bsoncodec.go
  bson/encoder.go
  bson/encoder_test.go
  bson/primitive_codecs_test.go
  bson/struct_codec.go
  bson/struct_codec_test.go
  internal/integration/client_test.go
  mongo/mongo.go
  mongo/options/clientoptions.go
Labels: priority-3-low

#1929 GODRIVER-3476 Escape for Regex Options.
  bson/bson_test.go
  bson/bsonrw/extjson_writer.go
Labels: priority-3-low

#1976 GODRIVER-3175 Add Kubernetes support for OIDC.
  .evergreen/config.yml
  etc/run-oidc-remote-test.sh
  etc/run-oidc-test.sh
  internal/cmd/testoidcauth/main.go
  mongo/options/clientoptions.go
  mongo/options/clientoptions_test.go
  testdata/auth/connection-string.json
  testdata/auth/connection-string.yml
  x/mongo/driver/auth/auth_spec_test.go
  x/mongo/driver/auth/oidc.go
Labels: priority-3-low

#1933 GODRIVER-3475 Correct CreateCollection and CreateView docs.
  mongo/database.go
Labels: priority-3-low

#1922 GODRIVER-3289 Add option to configure DEK cache lifetime.
  internal/integration/json_helpers_test.go
  internal/integration/unified/client_encryption_operation_execution.go
  internal/integration/unified/entity.go
  internal/integration/unified/operation.go
  internal/integration/unified/schema_version.go
  mongo/client.go
  mongo/client_encryption.go
  mongo/options/autoencryptionoptions.go
  mongo/options/clientencryptionoptions.go
  testdata/client-side-encryption/legacy/keyCache.json
  testdata/client-side-encryption/legacy/keyCache.yml
  testdata/client-side-encryption/unified/keyCache.json
  testdata/client-side-encryption/unified/keyCache.yml
  x/mongo/driver/mongocrypt/mongocrypt.go
  x/mongo/driver/mongocrypt/options/mongocrypt_options.go
Labels: priority-3-low

#1987 GODRIVER-3499 Update v2 migration guide.
  docs/migration-2.0.md
Labels: priority-3-low, documentation

#1984 GODRIVER-2975 Fully support "errors.Is" and "errors.As" in BSON APIs.
  bson/bson_test.go
  bson/registry_test.go
Labels: priority-3-low

#1990 GODRIVER-3498 Revert skip to non-lb-connection-establishment.
  testdata/load-balancers/non-lb-connection-establishment.json
  testdata/load-balancers/non-lb-connection-establishment.yml
Labels: priority-3-low

#1985 GODRIVER-3445 Move all logic for skipping spec tests by description into one place.
  bson/bson_corpus_spec_test.go
  internal/integration/unified/unified_spec_runner.go
  internal/integration/unified_spec_test.go
  internal/serverselector/server_selector_test.go
  internal/spectest/skip.go
  x/mongo/driver/auth/auth_spec_test.go
  x/mongo/driver/connstring/connstring_spec_test.go
  x/mongo/driver/topology/sdam_spec_test.go
  x/mongo/driver/topology/server_rtt_test.go
Labels: priority-3-low

#1969 GODRIVER-2721 Fully support "errors.Is" and "errors.As".
  mongo/change_stream.go
  mongo/collection.go
  mongo/database.go
  mongo/errors.go
  mongo/index_view.go
  mongo/search_index_view.go
  mongo/session.go
  mongo/with_transactions_test.go
Labels: priority-3-low

#1994 GODRIVER-3514 Upgrade to Go 1.23 in CI
  .evergreen/config.yml
  README.md
  docs/CONTRIBUTING.md
  examples/_logger/logrus/go.mod
  examples/_logger/zap/go.mod
  examples/_logger/zerolog/go.mod
  go.work
  internal/cmd/faas/awslambda/mongodb/go.mod
Labels: dependencies, priority-3-low, documentation

#1988 GODRIVER-3098 Drop support for MongoDB 3.6
  .evergreen/config.yml
  README.md
  internal/driverutil/description.go
  internal/integration/causal_consistency_test.go
  internal/integration/index_view_test.go
  mongo/bulk_write_models.go
  mongo/database.go
  mongo/options/aggregateoptions.go
  mongo/options/bulkwriteoptions.go
  mongo/options/changestreamoptions.go
  mongo/options/clientoptions.go
  mongo/options/countoptions.go
  mongo/options/createcollectionoptions.go
  mongo/options/deleteoptions.go
  mongo/options/distinctoptions.go
  mongo/options/findoptions.go
  mongo/options/indexoptions.go
  mongo/options/insertoptions.go
  mongo/options/replaceoptions.go
  mongo/options/updateoptions.go
  mongo/results.go
  x/mongo/driver/operation/aggregate.go
  x/mongo/driver/operation/create.go
  x/mongo/driver/operation/delete.go
  x/mongo/driver/operation/update.go
  x/mongo/driver/topology/fsm.go
  x/mongo/driver/topology/topology_test.go
Labels: priority-2-medium

#1995 GODRIVER-3513 Fix OIDC Evergreen task failures.
  .evergreen/config.yml
  Taskfile.yml
  internal/cmd/testoidcauth/main.go
Labels: priority-2-medium

#1992 GODRIVER-3493 Compile check all support Go versions
  .evergreen/config.yml
  Taskfile.yml
  etc/compile_check.sh
  etc/run-compile-check-test.sh
  internal/test/compilecheck/compile_check_test.go
  internal/test/compilecheck/go.mod
  internal/test/compilecheck/go.sum
Labels: dependencies, priority-3-low

#1991 Fix panic in TestCollection/insert_many when nothing is inserted.
  internal/integration/collection_test.go
Labels: priority-3-low

#2001 GODRIVER-3445 Refactor how spec test paths are built and update test dirs.
  .evergreen/config.yml
  Taskfile.yml
  internal/integration/retryable_writes_spec_test.go
  internal/integration/unified/unified_spec_runner.go
  internal/integration/unified/unified_spec_test.go
  internal/integration/unified_spec_test.go
  internal/serverselector/server_selector_test.go
  internal/spectest/spectest.go
  mongo/read_write_concern_spec_test.go
  x/mongo/driver/auth/auth_spec_test.go
  x/mongo/driver/connstring/connstring_spec_test.go
  x/mongo/driver/topology/CMAP_spec_test.go
  x/mongo/driver/topology/sdam_spec_test.go
  x/mongo/driver/topology/server_rtt_test.go
  x/mongo/driver/topology/topology_test.go
Labels: priority-3-low

#2005 GODRIVER-3445 Make spectest.Path work for any caller.
  internal/spectest/spectest.go
Labels: priority-3-low

#1993 GODRIVER-3451 Add fuzz test for BSON MarshalValue/UnmarshalValue.
  bson/decode_value_fuzz_test.go
  bson/fuzz_test.go
  etc/run-fuzz.sh
Labels: priority-3-low
