Repository mongodb/mongo-go-driver, pull requests merged in 2025-08, with the labels that each got.

#2148 GODRIVER-3564: Add config and workflows for release note labels
  .evergreen/config.yml
  .github/CODEOWNERS
  .github/labeler.yml
  .github/release.yml
  .github/reviewers.txt
  .github/workflows/check-labels.yml
  .github/workflows/labeler.yml
Labels: enhancement, priority-3-low, ignore-for-release

#2138 Replace all uses of 'interface{}' with 'any' in the bson package.
  bson/benchmark_test.go
  bson/bson_test.go
  bson/bsoncodec.go
  bson/bsoncodec_test.go
  bson/bsonrw_test.go
  bson/codec_cache.go
  bson/decimal.go
  bson/decoder.go
  bson/decoder_example_test.go
  bson/decoder_test.go
  bson/default_value_decoders.go
  bson/default_value_decoders_test.go
  bson/default_value_encoders.go
  bson/default_value_encoders_test.go
  bson/doc.go
  bson/empty_interface_codec.go
  bson/encoder.go
  bson/encoder_test.go
  bson/extjson_parser.go
  bson/extjson_parser_test.go
  bson/extjson_writer_test.go
  bson/fuzz_test.go
  bson/json_scanner.go
  bson/json_scanner_test.go
  bson/marshal.go
  bson/marshal_test.go
  bson/marshal_value_cases_test.go
  bson/marshaling_cases_test.go
  bson/mgoregistry.go
  bson/mgoregistry_test.go
  bson/primitive.go
  bson/primitive_codecs_test.go
  bson/raw_test.go
  bson/raw_value.go
  bson/registry.go
  bson/struct_codec_test.go
  bson/truncation_test.go
  bson/types.go
  bson/unmarshal.go
  bson/unmarshal_test.go
  bson/unmarshaling_cases_test.go
  bson/value_reader.go
  bson/value_reader_writer_test.go
  bson/value_writer.go
  bson/value_writer_test.go
Labels: review-priority-low

#2141 Replace all uses of 'interface{}' with 'any' in the internal/integration/ packages.
  internal/integration/clam_prose_test.go
  internal/integration/client_side_encryption_prose_test.go
  internal/integration/client_side_encryption_test.go
  internal/integration/client_test.go
  internal/integration/cmd_monitoring_helpers_test.go
  internal/integration/collection_test.go
  internal/integration/crud_helpers_test.go
  internal/integration/crud_prose_test.go
  internal/integration/csot_cse_prose_test.go
  internal/integration/csot_prose_test.go
  internal/integration/csot_test.go
  internal/integration/database_test.go
  internal/integration/gridfs_test.go
  internal/integration/index_view_test.go
  internal/integration/json_helpers_test.go
  internal/integration/log_helpers_test.go
  internal/integration/mock_find_test.go
  internal/integration/mtest/mongotest.go
  internal/integration/mtest/options.go
  internal/integration/retryable_writes_prose_test.go
  internal/integration/sessions_test.go
  internal/integration/unified/bsonutil.go
  internal/integration/unified/bucket_options.go
  internal/integration/unified/bulkwrite_helpers.go
  internal/integration/unified/client_encryption_operation_execution.go
  internal/integration/unified/client_operation_execution.go
  internal/integration/unified/collection_operation_execution.go
  internal/integration/unified/common_options.go
  internal/integration/unified/crud_helpers.go
  internal/integration/unified/cursor_entity.go
  internal/integration/unified/database_operation_execution.go
  internal/integration/unified/db_collection_options.go
  internal/integration/unified/entity.go
  internal/integration/unified/event_verification.go
  internal/integration/unified/logger.go
  internal/integration/unified/logger_verification.go
  internal/integration/unified/matches.go
  internal/integration/unified/matches_test.go
  internal/integration/unified/server_api_options.go
  internal/integration/unified/session_operation_execution.go
  internal/integration/unified/session_options.go
  internal/integration/unified/unified_spec_runner.go
  internal/integration/unified_spec_test.go
Labels: review-priority-low

#2158 Run CodeQL workflow for feature branches
  .github/workflows/codeql.yml
Labels: enhancement, ignore-for-release

#2149 GODRIVER-3102: Perf comp PR comment pipeline
  .evergreen/config.yml
  .gitignore
  etc/perf-pr-comment.sh
  internal/cmd/perfcomp/compare.go
  internal/cmd/perfcomp/go.mod
  internal/cmd/perfcomp/go.sum
  internal/cmd/perfcomp/main.go
  internal/cmd/perfcomp/mdreport.go
Labels: review-priority-low

#2139 Replace all uses of 'interface{}' with 'any' in the mongo/ packages.
  mongo/background_context.go
  mongo/batch_cursor.go
  mongo/bulk_write.go
  mongo/bulk_write_models.go
  mongo/change_stream.go
  mongo/client.go
  mongo/client_bulk_write.go
  mongo/client_bulk_write_models.go
  mongo/client_encryption.go
  mongo/client_examples_test.go
  mongo/client_side_encryption_examples_test.go
  mongo/client_test.go
  mongo/collection.go
  mongo/collection_test.go
  mongo/crud_examples_test.go
  mongo/cursor.go
  mongo/cursor_test.go
  mongo/database.go
  mongo/doc.go
  mongo/errors.go
  mongo/gridfs_bucket.go
  mongo/gridfs_bucket_test.go
  mongo/gridfs_download_stream.go
  mongo/gridfs_upload_stream.go
  mongo/index_view.go
  mongo/mongo.go
  mongo/mongo_test.go
  mongo/mongocryptd.go
  mongo/options/aggregateoptions.go
  mongo/options/autoencryptionoptions.go
  mongo/options/bulkwriteoptions.go
  mongo/options/changestreamoptions.go
  mongo/options/clientbulkwriteoptions.go
  mongo/options/clientencryptionoptions.go
  mongo/options/clientoptions.go
  mongo/options/clientoptions_test.go
  mongo/options/countoptions.go
  mongo/options/createcollectionoptions.go
  mongo/options/datakeyoptions.go
  mongo/options/deleteoptions.go
  mongo/options/distinctoptions.go
  mongo/options/dropcollectionoptions.go
  mongo/options/estimatedcountoptions.go
  mongo/options/example_test.go
  mongo/options/findoptions.go
  mongo/options/gridfsoptions.go
  mongo/options/indexoptions.go
  mongo/options/insertoptions.go
  mongo/options/loggeroptions.go
  mongo/options/replaceoptions.go
  mongo/options/rewrapdatakeyoptions.go
  mongo/options/updateoptions.go
  mongo/results.go
  mongo/search_index_view.go
  mongo/session.go
  mongo/single_result.go
  mongo/with_transactions_test.go
  mongo/writeconcern/writeconcern.go
Labels: enhancement, review-priority-low

#2166 GODRIVER-3548 Test MONGODB-X509 on cloud-dev
  Taskfile.yml
  internal/assert/assertions.go
  internal/cmd/testatlas/atlas_test.go
  internal/require/require.go
Labels: enhancement, review-priority-normal

#2150 GODRIVER-3288 Stop gossiping $clusterTime on SDAM commands.
  internal/integration/mtest/mongotest.go
  internal/integration/sessions_test.go
  x/mongo/driver/operation.go
  x/mongo/driver/topology/server.go
Labels: enhancement, review-priority-low
