Repository mongodb/mongo-go-driver, pull requests merged in 2025-09, with the labels that each got.

#2179 Split TestCursor into separate test functions.
  internal/integration/cursor_test.go
Labels: enhancement, review-priority-low, ignore-for-release

#2181 Retry Markdown link checks on HTTP 429.
  .pre-commit-config.yaml
Labels: enhancement, review-priority-urgent, ignore-for-release

#2185 Rewrite mongo.Connect documentation.
  mongo/client.go
Labels: review-priority-low, documentation

#2174 GODRIVER-3616 Apply client-level timeout to tailable cursors
  internal/integration/cursor_test.go
  mongo/client_bulk_write.go
  mongo/collection.go
  mongo/cursor.go
  mongo/database.go
  mongo/index_view.go
Labels: bug, review-priority-low

#2177 GODRIVER-3612 Add an internal-only NewSessionWithLSID API (v2)
  .evergreen/config.yml
  internal/integration/mongointernal_test.go
  mongo/mongointernal.go
Labels: review-priority-normal, feature, ignore-for-release

#2183 GODRIVER-3612 Add an internal-only NewSessionWithLSID API (v1)
  .evergreen/config.yml
  mongo/integration/mongointernal_test.go
  mongo/mongointernal.go
Labels: review-priority-normal, feature, ignore-for-release

#2201 Consider HTTP 429 a succcessful response in the Markdown link check.
  .pre-commit-config.yaml
Labels: review-priority-normal, ignore-for-release

#2203 Allow ignore-for-release label to satisfy label checker
  .github/workflows/check-labels.yml
Labels: ignore-for-release
