Repository mongodb/mongo-go-driver, pull requests merged in 2025-07, with the labels that each got.

#2076 fix wiremessage oob in case of intmin
  x/mongo/driver/wiremessage/wiremessage.go
Labels: priority-3-low

#2125 Add guidelines for contributing features to the Go Driver
  docs/CONTRIBUTING.md
Labels: priority-3-low, documentation

#2113 GODRIVER-2775 Refactor replaceErrors to always wrap errors instead of replacing them.
  internal/codecutil/encoding.go
  mongo/change_stream.go
  mongo/client.go
  mongo/collection.go
  mongo/cursor.go
  mongo/database.go
  mongo/errors.go
  mongo/index_view.go
  mongo/mongo.go
  mongo/session.go
Labels: priority-2-medium

#2132 GODRIVER-2016 Unskip all Transactions unified spec tests.
  internal/spectest/skip.go
Labels: priority-3-low

#2137 Replace all uses of 'interface{}' with 'any' in the x/ packages.
  x/bsonx/bsoncore/bson_arraybuilder_test.go
  x/bsonx/bsoncore/bson_documentbuilder_test.go
  x/bsonx/bsoncore/bsoncore_test.go
  x/bsonx/bsoncore/value_test.go
  x/mongo/driver/auth/auth_spec_test.go
  x/mongo/driver/batch_cursor.go
  x/mongo/driver/compression.go
  x/mongo/driver/connstring/connstring_spec_test.go
  x/mongo/driver/operation.go
  x/mongo/driver/operation/find_and_modify.go
  x/mongo/driver/operation/update.go
  x/mongo/driver/topology/CMAP_spec_test.go
  x/mongo/driver/topology/connection_test.go
  x/mongo/driver/topology/pool.go
  x/mongo/driver/topology/sdam_spec_test.go
  x/mongo/driver/topology/server.go
  x/mongo/driver/topology/server_rtt_test.go
  x/mongo/driver/topology/server_test.go
  x/mongo/driver/topology/topology.go
  x/mongo/driver/topology/topology_test.go
Labels: priority-3-low

#2140 Replace all uses of 'interface{}' with 'any' in the internal/ packages.
  internal/bsonutil/bsonutil.go
  internal/cmd/benchmark/benchmark_test.go
  internal/cmd/testkms/main.go
  internal/codecutil/encoding.go
  internal/codecutil/encoding_test.go
  internal/csot/csot_test.go
  internal/docexamples/examples.go
  internal/errutil/join.go
  internal/errutil/join_test.go
  internal/failpoint/failpoint.go
  internal/logger/component.go
  internal/logger/component_test.go
  internal/logger/context_test.go
  internal/logger/io_sink.go
  internal/logger/logger.go
  internal/logger/logger_test.go
Labels: priority-3-low

#2120 GODRIVER-3587 Use raw bytes in valueReader
  bson/buffered_byte_src.go
  bson/buffered_byte_src_test.go
  bson/copier.go
  bson/copier_test.go
  bson/mgoregistry_test.go
  bson/raw_value.go
  bson/streaming_byte_src.go
  bson/unmarshal.go
  bson/unmarshal_test.go
  bson/unmarshal_value_test.go
  bson/unmarshaling_cases_test.go
  bson/value_reader.go
  bson/value_reader_test.go
Labels: priority-1-high

#2147 GODRIVER-3622 Automatically retry some test tasks.
  .evergreen/config.yml
Labels: priority-3-low
