Repository mongodb/mongo-go-driver, pull requests merged in 2025-05, with the labels that each got.

#2022 GODRIVER-3533 Optimize value reader and writer
  bson/marshal.go
  bson/unmarshal.go
  bson/value_reader.go
  bson/value_writer.go
Labels: priority-1-high

#2023 GODRIVER-3037 Support internal-only options.
  internal/cmd/compilecheck/main.go
  internal/options/options.go
  mongo/options/clientoptions.go
  mongo/options/clientoptions_test.go
  x/mongo/driver/xoptions/options.go
  x/mongo/driver/xoptions/options_test.go
Labels: priority-3-low

#2029 DEVPROD-17319 - update perf.send command to new results end point
  .evergreen/config.yml
Labels: priority-3-low

#2031 GODRIVER-3549 Fix timeouts in CSE custom endpoint test (#2028)
  internal/integration/client_side_encryption_prose_test.go
Labels: priority-3-low

#2030 GODRIVER-3533 Optimize value reader and writer (#2022)
  bson/marshal.go
  bson/unmarshal.go
  bson/value_reader.go
  bson/value_writer.go
Labels: priority-3-low

#2045 GODRIVER-3550 Update Documentation for Go Driver Branching and Merge …
  docs/CONTRIBUTING.md
Labels: priority-3-low, documentation

#2027 GODRIVER-3361 Improve connection error message.
  x/mongo/driver/topology/connection.go
  x/mongo/driver/topology/connection_test.go
  x/mongo/driver/topology/errors.go
  x/mongo/driver/topology/pool_test.go
  x/mongo/driver/topology/server_test.go
Labels: priority-3-low

#2047 Add configuration for automated release notes
  .github/release.yml
Labels: priority-3-low

#2053 Eventually assertion in TestConnection should check the nil condition on done value
  x/mongo/driver/topology/connection_test.go
Labels: priority-3-low

#2054 GODRIVER-3515 Bump the minimum Go Version to 1.19
  README.md
  docs/CONTRIBUTING.md
  docs/migration-2.0.md
  etc/compile_check.sh
  go.mod
  internal/cmd/benchmark/go.mod
  internal/cmd/compilecheck/go.mod
  internal/test/compilecheck/compile_check_test.go
Labels: dependencies, priority-3-low, documentation
